.dashboard-header{
    z-index: 90;
    padding: 2rem;
    background: $nav-shown;
    border-right: 1px solid rgba(255, 255, 255, 0.447);

    @include breakpoint(maxTablet){
        position: fixed;
        width: 100%;
        @include flex(space-between);
        align-items: center;
        transition: all 0.7s ease-in-out;
    }//breakpoint

    @include breakpoint(laptop){
        width: 26rem;
        height: 200vh;
        position: fixed;
        padding-left: 2.4rem;

    }//breakpoint

    .logo{
        color: $white;

        @include breakpoint(laptop){
            margin: 3rem 0;
            text-align: center;
        }//breakpoint

        a:hover{
            transition: $hover-transition;
            color: $primary;
        }

    }//h1

}//.dashboard-header

.menu-closed-header-style {
    background-color: $nav-shown;

    @include breakpoint(laptop){
        background: $third;
    }//breakpoint

}//.menu-closed-header-styles
