.dashboard-body{

    .dashboard-navigation{
        z-index: 9999;
        @include breakpoint(maxTablet){
            width: 100%;
            position: absolute;
            top: 5rem;
            right: -100%;
            background-color: $nav-shown;
            padding-bottom: 4rem;
            transition: all 0.7s ease-in-out;
            margin-top: 3.9rem;
        }//break

        @include breakpoint(tablet){
            width: 50%;
        }

        @include breakpoint(laptop){
            display: inline-block;
            width: 22rem;
            background: $dark;
        }//break
        
        .nav-link{ 
        
            a{
                @include nav-links;
                @include flex(space-between);
            
                p{
                    margin-bottom: 0;
                    font-size: $navlink-font-size;
                    font-family: $navlink-font;
                    color: $nav-link-color;

                    @include breakpoint(laptop){

                    }

                    span{
                        font-size: $signed-in;
                    }//span

                }//p

            }//a

            a:hover{
                @include nav-hover;
            }

        }//.navlink

        .logout{
            @include nav-links;

            @include breakpoint(maxTablet){
                @include flex(space-between);
            }//break

            .signed-in{
                color: $nav-link-color;
                font-size: 2rem;
                font-family: 'Raleway Bold', sans-serif;
                margin-bottom: 1rem;
                
                @include breakpoint(laptop){
                    padding-bottom: 1rem;
                }//break

            }
            
            a p{
                text-align: center;
                color: $nav-link-color;
                border-radius: 1rem;
                background: $dark;
                padding: 0.5rem;
            }

            a:hover p{
                border: 2px solid $white;
            }

            p{
                margin-bottom: 0;
                font-size: $navlink-font-size;
                font-family: $navlink-font;
                
                span{
                    font-size: $signed-in;
                    font-family: 'Raleway Regular', sans-serif;
                } //span
                

            }//p

        }//.logout


    }//.dashboard-navigation

}//.dashboard-body