.dashboard-body{

    .dashboard-navigation{
        z-index: 90;
        @include breakpoint(maxTablet){
            width: 100%;
            position: absolute;
            top: 4rem;
            left: -100%;
            background-color: $nav-shown;
            padding-bottom: 4rem;
            transition: all 0.7s ease-in-out;
            margin-top: 3.9rem;
        }//break

        // @include breakpoint(tablet){
        //     width: 75%;
        // }

        @include breakpoint(laptop){
            display: inline-block;
            width: 22rem;
        }//break

        .navigation-para{
            margin: 1rem;
            color: white;
            font-family: $nav-link-font;
            border-bottom: 1px solid white;
            padding-bottom: 0.5rem;
            font-size: 2rem;
            text-align: center;

            @include breakpoint(laptop){
                margin: 0;
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
        
        .nav-link{ 
        
            a{
                @include nav-links;
                @include flex(space-between);
            
                p{
                    margin-bottom: 0;
                    font-size: $navlink-font-size;
                    font-family: $nav-link-font;
                    color: $nav-link-color;
                    
                    span{
                        font-size: $signed-in;
                    }//span

                }//p

                p:first-child{
                    padding-right: 1rem;
                }

            }//a

            a:hover{
                @include nav-hover;
            }

        }//.navlink

        .logout{
            @include nav-links;

            @include breakpoint(maxTablet){
                @include flex(space-between);
            }//break

            .signed-in{
                color: $nav-link-color;
                font-size: 2rem;
                font-family: 'Raleway Bold', sans-serif;
                
                @include breakpoint(laptop){
                    padding-bottom: 1rem;
                }//break

            }
            
            a p{
                text-align: center;
                color: $white;
                border-radius: 1rem;
                background: $primary;
                padding: 0.5rem;
            }

            a:hover p{
                @include nav-hover;
            }

            p{
                margin-bottom: 0;
                font-size: $navlink-font-size;
                font-family: $nav-link-font;
                
                span{
                    font-size: $signed-in;
                    font-family: 'Raleway Regular', sans-serif;
                } //span
                

            }//p

        }//.logout


    }//.dashboard-navigation

}//.dashboard-body