@mixin heading(){
  text-transform: unset;
  font-family: 'Cardo Regular';
  padding-bottom: 3rem;
  padding-top: 5rem;
  color: white;
}


/*---------- General ----------*/

   .map-local-main{
    background-color: rgba(11, 178, 228, 0.653);
    height: 100%;

    h1{
      font-size: 4rem;
      @include heading;
    }

    h2{
      @include heading;
    }

    a{
      background: $red-colour;
      color: white;
      text-decoration: none;
      width: 25%;
      margin: 0;
      margin-top: 2rem;
      margin-left: 2rem;
    }

  }

  .interactive-map{
    background-color: rgba(11, 178, 228, 0.653);
    border-top: 4px solid $dark-blue;
    border-bottom: 4px solid $dark-blue;

    h1{
      font-size: 4rem;
      @include heading;
    }

    h2{
      @include heading;
      width: 100%;
      padding: 0;
      margin-bottom: 2rem;
    }

  }
  
  .holder{
    display: flex;
    justify-content: space-around;
    margin: 20rem 0;
    width: 60%;
    margin: 0 auto;
    background-image: url(../img/canada.svg);
    background-repeat: no-repeat;
    height: 35rem;
    padding-top: 10%;
  }

  .province-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
  }
  
  .province-nav>li{
    padding: 1rem;
    width: 14%;
    text-decoration: underline;
    border: 1px solid #999999;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .province-nav>li:hover{
    transition: 0.5s;
    background-color: #999999;
    color: #333;
    cursor: pointer;
  }
  
  .local-holder{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .image-container{
    display: flex;
    justify-content: space-around;
  }
  
  .alberta-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/alberta.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .alberta-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .bc-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/bc.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .bc-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .sask-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/saskatchewan.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .sask-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .manitoba-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/manitoba.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .manitoba-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .school-icon-main{
    width: 15%;
    position: relative;
    margin-top: 50%;
    left: 45%;
  }
  
  .treaty-icon-main{
    width: 15%;
    position: relative;
    margin-top: 30%;
    left: 60%;
  }

  .majorville-icon-main{
    width: 5%;
    position: relative;
    margin-top: -23%;
    left: 50%;
  }

  .lacsteanne-icon-main{
    width: 5%;
    position: relative;
    margin-top: -50%;
    left: 40%;
  }

  .headsmashed-icon-main{
    width: 5%;
    position: relative;
    margin-top: 60%;
    left: 60%;
  }

  .ribstones-icon-main{
    width: 5%;
    position: relative;
    margin-top: -50%;
    left: 60%;
  }

  .writingstone-icon-main{
    width: 5%;
    position: relative;
    margin-top: 45%;
    left: 70%;
  }

  .medicinelake-icon-main{
    width: 5%;
    position: relative;
    margin-top: -42%;
    left: 37%;
  }
  
  .map-icon:hover{
    border: 1px solid #999999;
    border-radius: 15px;
  }
  
  .learn-more-local-buttons{
    display: flex;
    justify-content: space-around;
  }
  
  .map-local-link{
    margin-top: 2rem;
    width: 40%;
    text-align: center;
  }
  
  .bc:hover,
  .sask:hover,
  .manitoba:hover{
    cursor: not-allowed;
  }
  
  .map-local-link,
  .return-link,
  .mobile-local-button{
    background: $red-colour;
    color: white;
    font: 'Cardo Regular';
    text-align: center;
    margin: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
    width: 90%;
    border-radius: 10px;
    padding: 0.6rem;
  }
  
  .map-local-link:hover,
  .return-link:hover,
  .mobile-local-button:hover{
    transition: 0.5s;
    background-color: #999999;
    color: #333;
    cursor: pointer;
    text-decoration: none;
  }
  
  .mobile-local-button{
    margin: 0 auto;
  }
  
  .button-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
  
  .return-link{
    width: 10rem;
    margin-left: 5rem; 
    margin-top: 3rem;
  }
  
  .local{
    background-image: url(../img/local-arrow.svg);
    background-repeat: no-repeat;
    width: 6%;
    height: 15%;
    padding: 1rem;
  }
  
  .holder-mobile{
    display: none;
    width: 100%;
    margin: 0 auto;
  }
  
  .holder-mobile>div>img{
    width: 25rem;
    margin: 0 auto;
  }
  
  .slideshow-buttons{
    display: flex;
    justify-content: space-around;
  }
  
  .slideshow-buttons>span{
    height: 4rem;
    width: 4rem;
    margin: 0;
    border-radius: 15px;
  }
  
  .next,
  .prev {
      background-color: $red-colour;
      border-radius: 50%;
      color: white;
      display: inline-block;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 30%;
      width: 40px;
  }
  
  .next:hover,
  .prev:hover{
    cursor: pointer;
  }
  
  /*---------- Respondsive ----------*/
  
  @media only screen and (max-width: 1000px){
    .alberta-svg,
    .bc-svg,
    .sask-svg,
    .manitoba-svg{
      width: 20rem;
      height: 26.6rem;
    }
  
    .local-holder{
      width: 80%;
    }
    .alberta-content,
    .bc-content,
    .sask-content,
    .manitoba-content{
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 800px){
    .holder{
      display: none;
    }
  
    .holder-mobile{
      display: block;
    }
  }
   /*---------- utils ----------*/
  
  .text-center{
    text-align: center;
  }
  
  .flex-column{
    display: flex;
    flex-direction: column;
  }
  
  .grey{
    background-color: #999999;
  }
  
  .hidden{
    display: none;
  }
  
  .no-padding{
    padding: 0;
  }
  
  .width-full{
    width: 100%;
  }

  .white{
    color: #999;
  }