// body {
//     background-color: white;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #999999;
//     background-color: #0c2034;
//     /* background: linear-gradient(#0ff 0.0555555em, transparent 0.0555555em); */
//     // background-size: auto 1.5em;
//     /*24px for ideal gap*/
//   }
  
//   h1 {
//     margin-top: 0;
//     font-size: 1.802em;
//     padding-top: 5rem;
//   }
    
//   h2 {font-size: 1.602em;}
    
//   h3 {font-size: 1.424em;}
    
//   h4 {font-size: 1.266em;}
    
//   h5 {font-size: 1.125em;}
    
//   .text_small {font-size: 0.889em;}
  
  /*============================================
                   Custom Styles 
   ===========================================*/
  
  
   /*---------- General ----------*/
   main{
    // background-color: #0c2034;
    height: 100%;
    padding: 5rem 0;
  }

  .interactive-map{
    background-color: #0c2034
  }
  
  a{
    color: #999;
  }
  
  a:hover{
    color: #999;
  }
  
  .holder{
    display: flex;
    justify-content: space-around;
    margin: 20rem 0;
    width: 60%;
    margin: 0 auto;
    background-image: url(../img/canada.svg);
    background-repeat: no-repeat;
    height: 35rem;
    padding-top: 10%;
  }
   
  .province-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
  }
  
  .province-nav>li{
    padding: 1rem;
    width: 14%;
    text-decoration: underline;
    border: 1px solid #999999;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .province-nav>li:hover{
    transition: 0.5s;
    background-color: #999999;
    color: #333;
    cursor: pointer;
  }
  
  .local-holder{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .image-container{
    display: flex;
    justify-content: space-around;
  }
  
  .alberta-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/alberta.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .alberta-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .bc-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/bc.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .bc-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .sask-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/saskatchewan.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .sask-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .manitoba-svg{
    width: 30rem;
    height: 40rem;
    background-image: url("../img/manitoba.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .manitoba-content{
    width: 75%;
    margin: 0 auto;
  }
  
  .school-icon-main{
    width: 15%;
    position: relative;
    margin-top: 30%;
    left: 45%;
  }
  
  .treaty-icon-main{
    width: 15%;
    position: relative;
    margin-top: 100%;
    left: 50%;
  }
  
  .school-icon-main:hover,
  .treaty-icon-main:hover{
    border: 1px solid #999999;
    border-radius: 15px;
  }
  
  .learn-more-local-buttons{
    display: flex;
    justify-content: space-around;
  }
  
  .map-local-link{
    width: 40%;
    text-align: center;
  }
  
  .bc:hover,
  .sask:hover,
  .manitoba:hover{
    cursor: not-allowed;
  }
  
  .map-local-link,
  .return-link,
  .mobile-local-button{
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 1rem;
  }
  
  .map-local-link:hover,
  .return-link:hover,
  .mobile-local-button:hover{
    transition: 0.5s;
    background-color: #999999;
    color: #333;
    cursor: pointer;
    text-decoration: none;
  }
  
  .mobile-local-button{
    margin: 0 auto;
  }
  
  .button-container{
    display: flex;
    justify-content: space-around;
  }
  
  .return-link{
    width: 10rem;
    margin-left: 5rem; 
    margin-top: 3rem;
  }
  
  .province-hover{
    color: #999999;
    padding: 0;
  }
  
  .local{
    background-image: url(../img/local-arrow.svg);
    background-repeat: no-repeat;
    width: 6%;
    height: 15%;
    padding: 1rem;
  }
  
  .holder-mobile{
    display: none;
    width: 100%;
    margin: 0 auto;
  }
  
  .holder-mobile>div>img{
    width: 25rem;
    margin: 0 auto;
  }
  
  .slideshow-buttons{
    display: flex;
    justify-content: space-around;
  }
  
  .slideshow-buttons>span{
    height: 4rem;
    width: 4rem;
    margin: 0;
    border: 1px solid #999999;
    border-radius: 15px;
  }
  
  .next,
  .prev {
      background-color: #0c2034;
      border-radius: 50%;
      color: #ddd;
      display: inline-block;
    font-size: 210%;
    font-weight: bold;
    margin-top: 30%;
    width: 40px;
    padding-bottom: 2px;
  }
  
  .next:hover,
  .prev:hover{
    cursor: pointer;
  }
  
  /*---------- Respondsive ----------*/
  
  @media only screen and (max-width: 1000px){
    .alberta-svg,
    .bc-svg,
    .sask-svg,
    .manitoba-svg{
      width: 20rem;
      height: 26.6rem;
    }
  
    .local-holder{
      width: 80%;
    }
    .alberta-content,
    .bc-content,
    .sask-content,
    .manitoba-content{
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 800px){
    .holder{
      display: none;
    }
  
    .holder-mobile{
      display: block;
    }
  }
   /*---------- utils ----------*/
  
  .text-center{
    text-align: center;
  }
  
  .flex-column{
    display: flex;
    flex-direction: column;
  }
  
  .grey{
    background-color: #999999;
  }
  
  .hidden{
    display: none;
  }
  
  .no-padding{
    padding: 0;
  }
  
  .width-full{
    width: 100%;
  }