{% extends "home/base.html" %}

{% block content %}
<section>
    <div class="about inner-container">
        <h3> Get to know us</h3>
        <div class="content">
            <div>
                <p>We are the team that created Indigenous Storytelling, a website for schools and youth across Canada to celebrate their Indigenous culture, as well as learn about the various cultural differences and similarities. </p><br>

                <p>By creating this website, we have addressed the Truth and Reconciliation Commission of Canada Call to Action for Education, by creating a space where traditional knowledge can continue to be shared and strengthened. Take some time to explore our interactive map by clicking on the treaty that interests you. Enjoy watching informational videos done by the students and staff themselves, as well as various cultural landmarks that hold great significance to Canada’s Indigenous peoples. Read below to learn more about the creators of this website.</p> 
            </div>
        </div>
        <div class="grid">
            <div class="member-1">
                <div>
                    <img src="/static/img/members/Leeman.jpg" class="member-img">
                    <h4>Lemann Douleva</h4>
                </div>
                <div class="description">
                    <p>I’m a Bachelor of Technology student at NAIT. My interest in the creation of this website began because of growing up in Yellowknife, Northwest Territories. I have been lucky to be surrounded by Indigenous culture and learn a bit about it through my time in school, having grown up in the North; however, I wanted to gain more knowledge. I think that having a website such as this one can help celebrate the culture and be a way for people across Canada to learn and experience it as well.</p>
                </div>
            </div>
            <div class="member-2">
                <div>
                    <img src="/static/img/members/Ahmad.jpg" class="member-img">
                    <h4>Ahmad Farhan</h4>
                </div>
                <div class="description">
                    <p>I’m a student at NAIT in the Bachelor of Technology program. I feel delighted, and it’s my pleasure to be part of this Indigenous Storytelling website project. I have enjoyed the opportunity to be creative as well as brainstorming ideas for the website along with my team members. At NAIT, I have seen how they honour the Indigenous community and I have enjoyed learning about Indigenous people and their culture. Through this website, we hope to create a way to share the values and cultures of Indigenous groups by creating an online community.</p>
                </div>
            </div>
            <div class="member-3">
                <div>
                    <img src="/static/img/members/Connor.jpg" class="member-img">
                    <h4>Connor McGoran</h4>
                </div>
                <div class="description">
                    <p>I’m also a Bachelor of Technology Management student at NAIT with my former background being in power engineering. I was interested in joining this project because I was passionate about the historical aspect of helping retain information and knowledge for future generations. My hope is that this website will be a legacy project that will benefit Canada’s Indigenous peoples in all treaties and provinces across Canada which would in turn provide a platform to share stories and help all Canadians learn from the indigenous culture.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}