{% extends "home/base.html" %}

{% block content %}
<section>
    <div class="about inner-container">
        <h3> Get to know us</h3>
        <div class="content">
            <div>
                <p>Treaty 6 was signed between 1871 - 1877 by Canadian Crown and a few First Nations. It is an agreement
                between the Crown, the Plains and Wood Cree, Assiniboine and the other band governments at Fort
                Carlton and Fort Pitt. Treaty 6 included those terms which were not part of Treat 1 to 5. It Included
                medicine chest at the house of Indian agent on reserve, more agriculture implements, protection from
                shortage of food and fatal epidemic disease and education on the reserve. The treaty signing began 18th
                August until 09th September 1876 (Wikipedia, 2020).</p><br>

                <p>The Key figures who were representing Crown during the negotiations involved Lt. Governor of North-
                West Territories, Minister of Agriculture for Manitoba, and the Chief Factor of the Hudson’s Bay
                Company. Carlton Cree was represented by Chief Mistawasis and Chief Ahtahkakoop.</p> 
            </div>
        </div>
        <div class="grid">
            <div class="member-1">
                <div>
                    <img src="./img/man.png" class="member-img">
                    <h4>Name and Last Name</h4>
                    <h4>Position</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi commodi laudantium atque aspernatur delectus qui amet obcaecati, numquam, earum eos fuga odio, similique maiores. Quasi eius sit quam doloribus.</p>
                </div>
            </div>
            <div class="member-2">
                <div>
                    <img src="./img/man.png" class="member-img">
                    <h4>Name and Last Name</h4>
                    <h4>Position</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi commodi laudantium atque aspernatur delectus qui amet obcaecati, numquam, earum eos fuga odio, similique maiores. Quasi eius sit quam doloribus.</p>
                </div>
            </div>
            <div class="member-3">
                <div>
                    <img src="./img/man.png" class="member-img">
                    <h4>Name and Last Name</h4>
                    <h4>Position</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi commodi laudantium atque aspernatur delectus qui amet obcaecati, numquam, earum eos fuga odio, similique maiores. Quasi eius sit quam doloribus.</p>
                </div>
            </div>
            <div class="member-4">
                <div>
                    <img src="./img/man.png" class="member-img">
                    <h4>Name and Last Name</h4>
                    <h4>Position</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi commodi laudantium atque aspernatur delectus qui amet obcaecati, numquam, earum eos fuga odio, similique maiores. Quasi eius sit quam doloribus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="decoration">
        <img src="img/decoration-mb.png" alt="Indigenous decoration">
    </div>
</section>
{% endblock content %}