{% extends "home/base.html" %}
{% load static %}
{% block content %}

<section class="banner">
    <div class="quote">
        <h3>“An individual can 
            only accomplish 
            <span>some things</span>.
        </h3>
        <h3>A community can
            accomplish 
           <span>anything</span>”</h3>
    </div>

    <div class="explore-btn">
        <a href="#">Start Exploring</a>
    </div>
</section>

<section>
    <div class="treaty inner-container">
        <h3> Treaty 6</h3>
        <div class="content">
            <img src="/static/img/treaty.jpg" class="treaty-img" alt="Aliance between First Nations">
            <div>
                <p>Treaty 6 was signed between 1871 - 1877 by Canadian Crown and a few First Nations. It is an agreement
                between the Crown, the Plains and Wood Cree, Assiniboine and the other band governments at Fort
                Carlton and Fort Pitt. Treaty 6 included those terms which were not part of Treat 1 to 5. It Included
                medicine chest at the house of Indian agent on reserve, more agriculture implements, protection from
                shortage of food and fatal epidemic disease and education on the reserve. The treaty signing began 18th
                August until 09th September 1876 (Wikipedia, 2020).</p><br>

                <p>The Key figures who were representing Crown during the negotiations involved Lt. Governor of North-
                West Territories, Minister of Agriculture for Manitoba, and the Chief Factor of the Hudson’s Bay
                Company. Carlton Cree was represented by Chief Mistawasis and Chief Ahtahkakoop.</p> 
            </div>
        </div>
    </div>
</section>

<div class="interactive-map">
    <h1 id="province-hover" class="province-hover text-center">Select A Province</h1>
    <div class="province-data">
        <div class="holder">
            <a class="local bc" href="province/bc"></a>
            <a class="local alberta" href="province/ab"></a>
            <a class="local sask" href="province/sk"></a>
            <a class="local manitoba" href="province/mb"></a>
        </div> <!-- End Local Nav Arrow Holder -->

        <div class="holder-mobile">
            <h2 class="mobile-provice-name text-center white">British Columbia</h2>
            <div class="text-center slideshow-buttons">
                <span class="prev">&lsaquo;</span>
                <span class="next">&rsaquo;</span>
            </div>
            <div class="width-full image-container">
                <img src="{% static 'img/bc.svg'%}">
            </div>
            <div class="button-container">
                <a class="mobile-local-button" href="local-bc.html">Explore</a>
            </div>
        </div> <!-- End Mobile Holder -->

    </div> <!-- End Province Data Holder -->
</div>




<h1>Medicine Wheel</h1>
    <div class="con">
    	<div class="con_top">
    		<a href="">
    			<div class="textwhite">
					Spiritual
    			</div>
	    	</a>
	    	<a href="">
	    		<div class="textyellow">
    				Physical
    			</div>
	    	</a>
    	</div>
    	<div class="con_bot">
    		<a href="">
    			<div class="textred">
    				Emotional
    			</div>
	    	</a>
	    	<a href="">
	    		<div class="textblack">
    				Mental
    			</div>
	    	</a>
    	</div>
	</div>

<style>
.textwhite, .textyellow, .textred, .textblack{
  font-family:  Raleway Bold Italic;
}
</style>




<!-- footprint -->
<section class="footprint">

    <div id="ui">
        <div class="track track_1">
          <div class="foot left">
            <div class="foot_claw"></div>
            <div class="foot_claw"></div>
            <div class="foot_claw"></div>
          </div>
          <div class="foot right">
            <div class="foot_claw"></div>
            <div class="foot_claw"></div>
            <div class="foot_claw"></div>
          </div>
          <div class="track track_2">
            <div class="foot left">
              <div class="foot_claw"></div>
              <div class="foot_claw"></div>
              <div class="foot_claw"></div>
            </div>
            <div class="foot right">
              <div class="foot_claw"></div>
              <div class="foot_claw"></div>
              <div class="foot_claw"></div>
            </div>
            <div class="track track_3">
              <div class="foot left">
              <div class="foot_claw"></div>
              <div class="foot_claw"></div>
              <div class="foot_claw"></div>
            </div>
            <div class="foot right">
                <div class="foot_claw"></div>
                <div class="foot_claw"></div>
                <div class="foot_claw"></div>
            </div>
            <div class="track track_4">
                <div class="foot left">
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                </div>
                <div class="foot right">
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                </div>
                <div class="track track_5">
                  <div class="foot left">
                    <div class="foot_claw"></div>
                    <div class="foot_claw"></div>
                    <div class="foot_claw"></div>
                  </div>
                  <div class="foot right">
                    <div class="foot_claw"></div>
                    <div class="foot_claw"></div>
                    <div class="foot_claw"></div>
                  </div>
                  <div class="track track_6">
                    <div class="foot left">
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                    </div>
                    <div class="foot right">
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                    </div>
                    <div class="track track_7">
                      <div class="foot left">
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                      </div>
                    <div class="foot right">
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                    </div>
                    <div class="track track_8">
                    <div class="foot left">
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                    </div>
                    <div class="foot right">
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                        </div>
                        <div class="track track_9">
                          <div class="foot left">
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                          </div>
                          <div class="foot right">
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                          </div>
                          <div class="track track_10">
                            <div class="foot left">
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                            </div>
                            <div class="foot right">
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                            </div>
                            <div class="track track_11">
                              <div class="foot left">
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                              </div>
                              <div class="foot right">
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                              </div>
                              <div class="track track_12">
                                <div class="foot left">
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                </div>
                                <div class="foot right">
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                </div>
                                <div class="track track_13">
                                  <div class="foot left">
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                  </div>
                                  <div class="foot right">
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                  </div>
                                  <div class="track track_14">
                                    <div class="foot left">
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                    </div>
                                    <div class="foot right">
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                    </div>
                                    <div class="track track_15">
                                      <div class="foot left">
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                      </div>
                                      <div class="foot right">
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                      </div>
                                      <div class="track track_16">
                                        <div class="foot left">
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                        </div>
                                        <div class="foot right">
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                        </div>
                                        <div class="track track_17">
                                          <div class="foot left">
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                          </div>
                                          <div class="foot right">
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                          </div>
                                          <div class="track track_18">
                                            <div class="foot left">
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                            </div>
                                            <div class="foot right">
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                            </div>
                                            <div class="track track_19">
                                              <div class="foot left">
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                              </div>
                                              <div class="foot right">
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                              </div>
                                              <div class="track track_20">
                                                <div class="foot left">
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                </div>
                                                <div class="foot right">
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                </div>
                                                <div class="track track_21">
                                                  <div class="foot left">
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                  </div>
                                                  <div class="foot right">
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                  </div>
                                                  <div class="track track_22">
                                                    <div class="foot left">
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                    </div>
                                                    <div class="foot right">
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                    </div>
                                                    <div class="track track_23">
                                                      <div class="foot left">
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                      </div>
                                                      <div class="foot right">
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                      </div>
                                                      <div class="track track_24">
                                                        <div class="foot left">
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                        </div>
                                                        <div class="foot right">
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                        </div>
                                                        <div class="track track_25">
                                                          <div class="foot left">
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                          </div>
                                                          <div class="foot right">
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                          </div>
                                                          <div class="track track_26">
                                                            <div class="foot left">
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                            </div>
                                                            <div class="foot right">
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                            </div>
                                                            <div class="track track_27">
                                                              <div class="foot left">
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                              </div>
                                                              <div class="foot right">
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                              </div>
                                                              <div class="track track_28">
                                                                <div class="foot left">
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                </div>
                                                                <div class="foot right">
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                </div>
                                                                <div class="track track_29">
                                                                  <div class="foot left">
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                  </div>
                                                                  <div class="foot right">
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                  </div>
                                                                  <div class="track track_30">
                                                                    <div class="foot left">
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                    </div>
                                                                    <div class="foot right">
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                    </div>
                                                                    <div class="track track_31">
                                                                      <div class="foot left">
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                      </div>
                                                                      <div class="foot right">
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                      </div>
                                                                      <div class="track track_32">
                                                                        <div class="foot left">
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                        </div>
                                                                        <div class="foot right">
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                        </div>
                                                                        <div class="track track_33">
                                                                          <div class="foot left">
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                          </div>
                                                                          <div class="foot right">
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                          </div>
                                                                          <div class="track track_34">
                                                                            <div class="foot left">
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                            </div>
                                                                            <div class="foot right">
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                            </div>
                                                                            <div class="track track_35">
                                                                              <div class="foot left">
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                              </div>
                                                                              <div class="foot right">
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                              </div>
                                                                              <div class="track track_36">
                                                                                <div class="foot left">
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                </div>
                                                                                <div class="foot right">
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                </div>
                                                                                <div class="track track_37">
                                                                                  <div class="foot left">
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                  </div>
                                                                                  <div class="foot right">
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                  </div>
                                                                                  <div class="track track_38">
                                                                                    <div class="foot left">
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                    </div>
                                                                                    <div class="foot right">
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                    </div>
                                                                                    <div class="track track_39">
                                                                                      <div class="foot left">
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                      </div>
                                                                                      <div class="foot right">
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                      </div>
                                                                                      <div class="track track_40">
                                                                                        <div class="foot left">
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                        </div>
                                                                                        <div class="foot right">
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                        </div>
                                                                                        <div class="track track_41">
                                                                                          <div class="foot left">
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                          </div>
                                                                                          <div class="foot right">
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                          </div>
                                                                                          <div class="track track_42">
                                                                                            <div class="foot left">
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                            </div>
                                                                                            <div class="foot right">
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                            </div>
                                                                                            <div class="track track_43">
                                                                                              <div class="foot left">
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                              </div>
                                                                                              <div class="foot right">
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                              </div>
                                                                                              <div class="track track_44">
                                                                                                <div class="foot left">
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                </div>
                                                                                                <div class="foot right">
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                </div>
                                                                                                <div class="track track_45">
                                                                                                  <div class="foot left">
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                  </div>
                                                                                                  <div class="foot right">
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                  </div>
                                                                                                  <div class="track track_46">
                                                                                                    <div class="foot left">
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                    </div>
                                                                                                    <div class="foot right">
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                    </div>
                                                                                                    <div class="track track_47">
                                                                                                      <div class="foot left">
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                      </div>
                                                                                                      <div class="foot right">
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                      </div>
                                                                                                      <div class="track track_48">
                                                                                                        <div class="foot left">
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                        </div>
                                                                                                        <div class="foot right">
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                        </div>
                                                                                                        <div class="track track_49">
                                                                                                          <div class="foot left">
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                          </div>
                                                                                                          <div class="foot right">
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                          </div>
                                                                                                          <div class="track track_50">
                                                                                                            <div class="foot left">
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                            </div>
                                                                                                            <div class="foot right">
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                            </div>
                                                                                                            
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
    <script id="rendered-js">
    var
    timer = 10000,
    ui = document.getElementById('ui');
    
    setInterval(function () {
    ui.classList.toggle('switch');
    }, timer);
    </script>
</section>
{% endblock content %}