{% extends "home/base.html" %}
{% load static %}
{% block content %}

<section class="banner">
    <div class="quote inner-container">
        <h3>“An individual can 
            only accomplish</h3>
        <h3><span>some things</span>.</h3>
            
        </h3>
        <h3>A community can
            accomplish</h3>
        <h3><span>anything</span>"</h3>
           
    </div>

    <div class="explore-btn">
        <a href="#map">Start Exploring</a>
    </div>
</section>

<section>
    <div class="treaty inner-container">
        <h3> Treaty 6</h3>
        <div class="content">
            <img src="/static/img/treaty.jpg" class="treaty-img" alt="Aliance between First Nations">
            <div>
                <p>Treaty 6 was signed between 1871 - 1877 by Canadian Crown and a few First Nations. It is an agreement
                between the Crown, the Plains and Wood Cree, Assiniboine and the other band governments at Fort
                Carlton and Fort Pitt. Treaty 6 included those terms which were not part of Treat 1 to 5. It Included
                medicine chest at the house of Indian agent on reserve, more agriculture implements, protection from
                shortage of food and fatal epidemic disease and education on the reserve. The treaty signing began 18th
                August until 09th September 1876 (Wikipedia, 2020).</p><br>

                <p>The Key figures who were representing Crown during the negotiations involved Lt. Governor of North-
                West Territories, Minister of Agriculture for Manitoba, and the Chief Factor of the Hudson’s Bay
                Company. Carlton Cree was represented by Chief Mistawasis and Chief Ahtahkakoop.</p> 
            </div>
        </div>
    </div>
</section>

<div id="map" class="interactive-map">
    <h1 id="province-hover" class="province-hover text-center">Select A Province</h1>
    <p>Click on an arrow in a province to see more!</p>
    <div class="province-data">
        <div class="holder">
            <a class="local alberta" href="province/ab"></a>
        </div> <!-- End Local Nav Arrow Holder -->

        <div class="holder-mobile">
            <h2 class="mobile-provice-name text-center white">British Columbia</h2>
            <div class="text-center slideshow-buttons">
                <span class="prev">&lsaquo;</span>
                <span class="next">&rsaquo;</span>
            </div>
            <div class="width-full image-container">
                <img src="{% static 'img/bc-final.png'%}">
            </div>
            <div class="button-container">
                <a class="mobile-local-button" href="#">Explore</a>
            </div>
        </div> <!-- End Mobile Holder -->

    </div> <!-- End Province Data Holder -->
</div>

<section class="seven-teachings inner-container">
    <h3>Seven Grandfather Teachings</h3>
    <p>The Seven Grandfathers represent each important lesson given to any child by the Creator. In
        order to overcome societal ills of disrespect, fear, lies, shame, pride, and cheating, the Seven
        Grandfathers represent each of the seven traits one must develop in order to life a good life.
        The teachings are inter-dependent and rely on the complete set of principles to bring happiness
        in one’s life.</p>
    
    <div class="animals">
        <div class="teaching">
            <div>
                <h4>Wisdom</h4>
                <img src="/static/img/animals/beaver.png" alt="Beaver that represents Wisdom">
            </div>
            <div>
                <p>The Creator gave the beaver large teeth and an instinct to build. The beaver represents Wisdom
                    because of his natural gift for altering his environment in an ecologically-friendly and sustainable
                    way for the benefit of his family.</p>
                <p>Wisdom is the learning from not only your own experience but the observing and absorbing of the knowledge of others. The wisdom that comes from learning from your experiences and that of others, provides you sound judgement from which to base future decisions.</p>
            </div>
        </div>

        <div class="teaching">
            <div>
                <h4>Truth</h4>
                <img src="/static/img/animals/turtle.png" alt="Turtle that represents Truth">
            </div>
            <div>
                <p>The truth will set you free in many ways. Hiding the truth is like a carrying the turtle. At first it is small and in the palm of your hand, soon the turtle grows to massive proportions. To speak truthfully, not just to others but to oneself, is not always easy but one does not regret the relief from the burden of hiding the truth.</p>
            </div>
        </div>

        <div class="teaching">
            <div>
                <h4>Humility</h4>
                <img src="/static/img/animals/wolf.png" alt="Wolf that represents Humility">
            </div>
            <div>
                <p>Humility is the knowledge that all of the Creator’s creatures are equal to one another. Not every creature is skilled in the same capacity, but are skilled in their own way, nonetheless. To be humble is a demonstration of internal strength.</p>
            </div>
        </div>

        <div class="teaching">
            <div>
                <h4>Love</h4>
                <img src="/static/img/animals/eagle.png" alt="Eagle that represents Love">
            </div>
            <div>
                <p>Love is represented by the Eagle because they are loving parents to their offspring. The Eagle’s ability to soar above the highest and closest to the Creator makes an eagle feather a sacred gift of the highest honour.</p>
                <p>Unconditional love is the gift of strength in times of weakness. Communities rely on unconditional love in order to push through difficult times and it is shared with those that need it the most. Devotion can take many forms and it may not always be apparent, it is the purity of the intention that matters most. Loving sincerely will fill your heart with love.</p>
            </div>
        </div>

        <div class="teaching">
            <div>
                <h4>Courage</h4>
                <img src="/static/img/animals/bear.png" alt="Bear that represents Courage">
            </div>
            <div>
                <p>The mother bear has the courage to face the strength of her male counterpart, who is three times her size, in order to protect her young. Her inner strength is an example for her cubs.</p>
                <p>Confronting problems with integrity, despite the consequences, is an act of bravery. To muster the strength in the face of adversity is critical because life is not easy. Each test of our strength makes us stronger. One act of courage is likely to spur another.</p>
            </div>
        </div>

        <div class="teaching">
            <div>
                <h4>Respect</h4>
                <img src="/static/img/animals/buffalo.png" alt="Buffalo that represents Respect">
            </div>
            <div>
                <p>The Buffalo represents respect as the Bison sacrifices every part of his being to sustain the human way of living. Indigenous peoples have sustained because the Buffalo provides clothing food, shelter, and inspiration. The Buffalo teaches us not to be wasteful, to share with those in need, and respect the balance and needs of others.</p>
                <p>Respecting each child of the Creator, including oneself, is to honour the Creator. The demonstration of respect will earn you respect in return. Do not bring harm to others physically mentally, emotionally, or spiritually. Deliver respect and you will be rewarded in spades.</p>
            </div>
        </div>

        <div class="teaching">
            <div>
                <h4>Honesty</h4>
                <img src="/static/img/animals/Sabe.png" alt="Sabe that represents Honesty">
            </div>
            <div>
                <p>The Sabe has a deep understanding of who they are and are a reminder from the Creator to be true to who we are to walk tall and the Sabe serves as a guide to accepting who we really are.</p>
                <p>Honesty is more than just truth in words. Honesty with oneself and others at all times is integrity. To always speak the truth makes you truthful and trustworthy. One action does not construct your character, but your habits, and the collection of all your actions, do..</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}