{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="map-local-main">
        <ul class="province-nav hidden">
            <li>Yukon</li>
            <li>N.W. Territories</li>
            <li>Nunavut</li>
            <li>British Columbia</li>
            <li>Alberta</li>
            <li>Saskatchewan</li>
            <li>Manatoba</li>
            <li>Ontario</li>
            <li>Quebec</li>
            <li>Newfoundland and Labrador</li>
            <li>New Brunswick</li>
            <li>Nova Scotia</li>
            <li>Price Edward Island</li>
        </ul>
        <div class="flex-column">
            <a class="center-content return-link" href="{% url 'home' %}">&#x2190; Return To Map</a>
        </div>
        <h1 class="text-center focus-title no-padding">Treaty 6</h1>
        <section class="local-holder">
            <div class="alberta-svg">
                <img class="school-icon-main map-icon" src="{% static 'img/icons/school.png'%}" alt="School Icon">
                <img class="treaty-icon-main map-icon" src="{% static 'img/icons/feather.png'%}" alt="Treaty icon">
                <img class="majorville-icon-main map-icon" src="{% static 'img/icons/tipi.png'%}" alt="Majorville Cairn and Medicine Wheel icon">
                <img class="lacsteanne-icon-main map-icon" src="{% static 'img/icons/tipi.png'%}" alt="Lac Ste. Anne icon">
                <img class="headsmashed-icon-main map-icon" src="{% static 'img/icons/tipi.png'%}" alt="Head Smashed In Buffalo Jump icon">
                <img class="ribstones-icon-main map-icon" src="{% static 'img/icons/tipi.png'%}" alt="Viking Ribstones icon">
                <img class="writingstone-icon-main map-icon" src="{% static 'img/icons/tipi.png'%}" alt="Writing On Stone icon">
                <img class="medicinelake-icon-main map-icon" src="{% static 'img/icons/tipi.png'%}" alt="Medicine Lake icon">
            </div>
            
            <div class="amiskwaciy-content white hidden">
                <p>Designed to create a respectful and safe learning environment for junior high and high school students from Edmonton and surrounding areas, amiskwaciy Academy offers an exciting enrichment program which recognizes the belief that all beings are connected. Elder teachings, community partnerships, family involvement, committed teaching staff, and encouraging student leadership help to create a harmonious and communal approach to learning. </p>
                <p>Students of all cultures are welcome and amiskwaciy Academy boasts a diverse campus from First Nations communities and Métis settlements throughout Western Canada and the Northwest Territories. Although most students are First Nations, Métis, or Inuit, it is important that each student are supported academically, socially, emotionally, and spiritually. </p>
                <p>Classes offered at amiskwaciy Academy include Cosmetology, Construction Technology, Foods and Fashion studies as well as a number of programs that assist in providing an enriching learning experience including such initiatives as hot breakfast and lunch programs, family support, and the University of Alberta Community Service-Learning program. </p>
                <div class="learn-more-local-buttons">
                    <a class="map-local-link" href="{% url 'post_list' %}?school=NAIT&category=Mental">Story Telling</a>
                    <a class="map-local-link" href="{% url 'post_list' %}?school=Amiskwaciy-Academy&category=Emotional">Cultural Teachings</a>
                </div>
            </div>
            <div class="treaty-content white">
                <p>Treaty 6 was signed between 1871 - 1877 by Canadian Crown and a few First Nations. It is an agreement between the Crown, the Plains and Wood Cree, Assiniboine and the other band governments at Fort Carlton and Fort Pitt. Treaty 6 included those terms which were not part of Treat 1 to 5. It Included medicine chest at the house of Indian agent on reserve, more agriculture implements, protection from shortage of food and fatal epidemic disease and education on the reserve. The treaty signing began 18th August until 09th September 1876 (Wikipedia, 2020).</p>
                <p>The Key figures who were representing Crown during the negotiations involved Lt. Governor of North-West Territories, Minister of Agriculture for Manitoba, and the Chief Factor of the Hudson’s Bay Company. Carlton Cree was represented by Chief Mistawasis and Chief Ahtahkakoop.</p>
                <div class="learn-more-local-buttons">
                    <a class="map-local-link" href="#">Story Telling</a>
                    <a class="map-local-link" href="#">Cultural Teachings</a>
                </div>
            </div>
            <div class="extra-content-majorville white hidden fix-button">
                <p>"The Majorville Cairn and Medicine Wheel consists of a central cairn, which is linked to a surrounding stone circle by 28 spokes, and the cultural landscape which contains this monument. The designation encompasses 160 acres and is situated on a height of land with an expansive view of the surrounding prairie landscape west of the Bow River in southern Alberta."</p>
                <a class="map-local-link" href="https://www.travelalberta.com/ca/listings/majorville-cairn-and-medicine-wheel-6197/">Learn More</a>
            </div>
            <div class="extra-content-lacsteanne white hidden fix-button">
                <p>"First called Wakamne (or “God’s Lake”) by the Alexis Nakota Sioux Nation who live on the west end of the Lake and Manito Sahkahigan (or “Spirit Lake”) by the Cree, the lake was called “Lac Ste. Anne” by Rev. Jean-Baptiste Thibault, the first Catholic priest to establish a mission on the site. The pilgrimage grounds had been sacred for generations of peoples and had become widely known as a place of healing."</p>
                <a class="map-local-link" href="https://lacsteannepilgrimage.ca">Learn More</a>
            </div>
            <div class="extra-content-headsmashed white hidden fix-button">
                <p>"Head-Smashed-In Buffalo Jump Interpretive Centre is a UNESCO-designated World Heritage Site that preserves and interprets over 6,000 years of Plains Buffalo culture. Through vast landscapes, exhibits, and diverse programming, learn about the cultural significance of this cliff to the Plains People."</p>
                <a class="map-local-link" href="https://headsmashedin.ca/">Learn More</a>
            </div>
            <div class="extra-content-ribstones white hidden fix-button">
                <p>"Near Viking, on the top of a hill, at the highest point for miles around, stand the only Ribstones in Alberta that have not been moved since ancient times. Ribstones, also known as Boulder Petroglyphs, are two large stones carved in the shape of an animal's rib cage. These ancient monuments have remained in place just a few kilometres from Viking, Alberta for thousands of years. Historically, the native people of the plains were dependent on the buffalo. They revered the spirit of Old Man Buffalo, expressing their prayers and gratitude at the Ribstone shrines."</p>
                <a class="map-local-link" href="https://www.travelalberta.com/ca/listings/viking-ribstones-6162/">Learn More</a>
            </div>
            <div class="extra-content-writingstone white hidden fix-button">
                <p>"Writing-on-Stone Provincial Park is located in southern Alberta, just north of the Canada-US border. To the Siksikaitsitapi (Blackfoot Nation), the site is known as Áísínai’pi, which means “it is pictured” or “it is written” in the Blackfoot language. The park features thousands of rock paintings and carvings created by the Siksikaitsitapi, most of which date to 1050 BCE."</p>
                <a class="map-local-link" href="https://www.thecanadianencyclopedia.ca/en/article/writing-on-stone-provincial-park">Learn More</a>
            </div>
            <div class="extra-content-medicinelake white hidden fix-button">
                <p>"This intriguing lake is a place of mystery and Indian legend. Due to a unique underground drainage system, the water level of the lake vary from season to season … sometimes it actually disappears! Early Indians once thought that “spirits” were responsible for the dramatic fluctuations in the placid waters. Interpretive exhibits explain the phenomenon but nobody knows for sure where all of the water goes. Starting point of the trailhead of the South Boundary Trails brings you to Beaver and Jacques lake where biking and fishing is allowed."</p>
                <a class="map-local-link" href="https://www.explorejasper.com/medicine-lake/">Learn More</a>
            </div>
        </section>
    </div>
{% endblock content %}