<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sriracha&display=swap" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<h1>Medicine Wheel</h1>
    <div class="con">
    	<div class="con_top">
    		<a href="uploaded.html">
    			<div class="textwhite">
					Spiritual
    			</div>
	    	</a>
	    	<a href="uploaded.html">
	    		<div class="textyellow">
    				Physical
    			</div>
	    	</a>
    	</div>
    	<div class="con_bot">
    		<a href="uploaded.html">
    			<div class="textred">
    				Emotional
    			</div>
	    	</a>
	    	<a href="uploaded.html">
	    		<div class="textblack">
    				Mental
    			</div>
	    	</a>
    	</div>
    </div>
</body>
</html>