{% extends "home/base.html" %}

{% block content %}

<div class="resources-link-holder">
    <h2>Resources</h2>
    <p class="inner-container">Below you can find a list of external resouces that support Indigenous Communities.</p>
    <section class="education inner-container">
        <h3>Education</h3>
        <div class="cards">
            <div>
                <h4>Nîsôhkamâtotân  Centre - Nait</h4>
                <p>The Nîsôhkamâtotân [Nee-so-ka-ma-to-tan] Centre is a Cree word meaning “let’s help each other” and is a community gathering place where Aboriginal and non-Aboriginal students can gather to network, study and share their post-secondary learning experiences.  It is a place where culture and tradition are welcome and encouraged.</p>
                <a class="resources-link" href="https://www.nait.ca/nait/life-at-nait/nisohkamatotan-centre"  target="_blank">Read More</a>
            </div>
            <div>
                <h4>amiskwaciy Academy</h4>
                <p>amiskwaciy Academy was designed to offer exciting enrichment programming for junior high and high school students in a respectful, safe environment. At amiskwaciy, we recognize that all beings are connected and our teaching styles and learning opportunities reflect this belief.</p>
                <a class="resources-link" href="http://amiskwaciy.epsb.ca/"  target="_blank">Read More</a>
            </div>
        </div>
        <img class="resource-img" src="/static/img/dawn.png" alt="Dawn Image"> 
    </section>
    <section class="heritage inner-container">
        <h3>Heritage</h3>
        <div class="cards">
            <div>
                <h4>Indigenous heritage - Library and Archives Canada</h4>
                <p>Library and Archives Canada (LAC) acquires, preserves, and provides access to published and archival heritage material that represents First Nations, Inuit and Métis Nation experiences and contributions to Canada. This includes text, photographs, maps, and audio-visual material. Explore the collection through our online databases, digitized documents and thematic guides.</p>
                <a class="resources-link" href="https://www.bac-lac.gc.ca/eng/discover/aboriginal-heritage/pages/introduction.aspx"  target="_blank">Read More</a>
            </div>
            <div>
                <h4>Aboriginal Awareness - Library at Nait</h4>
                <p>The videos in this collection were created as part of an Aboriginal Awareness course offered through NAIT, and they explore the immense wisdom, experiences, and history of Aboriginal peoples. The wisdom of the Elders expressed in these beautiful videos is invaluable, and for that reason they have now been made more widely available.</p>
                <a class="resources-link" href="https://nait.libguides.com/AboriginalAwareness"  target="_blank">Read More</a>
            </div>
            <div>
                <h4>Indigenous Studies - Royal Alberta Museum</h4>
                <p>We care for approximately 18,000 objects of Indigenous origin. These objects date from the mid-1800s to the present. As the collection grows, we work with Indigenous people to ensure that contemporary as well as historic experiences are represented in the collections and in our displays.</p>
                <a class="resources-link" href="https://royalalbertamuseum.ca/collections/cultural-studies/indigenous-studies"  target="_blank">Read More</a>
            </div>
            <div>
                <h4>Community Engagement - Royal Alberta Museum</h4>
                <p>Community Engagement focuses on three areas: repatriation of sacred objects, access to sacred material within the museum, and working collaboratively with Elders and knowledge keepers to develop protocol-guided care and management for these special objects.</p>
                <a class="resources-link" href="https://royalalbertamuseum.ca/collections/cultural-studies/indigenous-studies/community-engagement"  target="_blank">Read More</a>
            </div>
            <img class="resource-img" src="/static/img/evening.png" alt="Evening Image"> 
        </div>
    </section>
    <section class="mental-health inner-container">
        <h3>Mental-Health</h3>
        <div class="cards">
            <div>
                <h4>Indigenous Services - CASA</h4>
                <p>CASA's First Nation Program is a partnership with several Edmonton Area First Nation Communities. With our partners, we work to remove community-identified barriers to mental health supports and services for children and families, while providing community-based access to such services. </p>
                <a class="resources-link" href="https://www.casaservices.org/indigenous-services"  target="_blank">Read More</a>
            </div>
            <div>
                <h4>Indigenous Counselling-First Nations - Aboriginal Services</h4>
                <p>Indigenous clients may have access to coverage for Mental Health Counselling Services through the Non-Insured Health Benefits (NIHB) Program or the Indian Residential Schools Resolution Health Support Program (IRS RHSP). The First Nations Inuit Health Board provides counselling services to First Nations People who qualify for the program.</p>
                <a class="resources-link" href="https://www.cornerstonecounselling.com/services/indigenous/"  target="_blank">Read More</a>
            </div>
            <div>
                <h4>Mental Health and Wellness Services for Indigenous Children and Youth</h4>
                <p>Wellness in Indigenous communities and cultures is about being in balance and harmony. Wellness focuses on strengths rather than deficits or weaknesses. It is about being connected to family, community and nature.</p>
                <a class="resources-link" href="https://ontario.cmha.ca/documents/mental-health-and-wellness-services-for-indigenous-children-and-youth/"  target="_blank">Read More</a>
            </div>
        </div>
        <img class="resource-img" src="/static/img/sunrise.png" alt="Sunrise Image"> 
    </section>
</div>

{% endblock content %}