asgiref==3.2.3
astroid==2.3.3
Django==3.0.3
django-appconf==1.0.3
django-avatar==5.0.0
django-ckeditor==5.9.0
django-crispy-forms==1.8.1
django-js-asset==1.2.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.1
Pillow==7.0.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
wrapt==1.11.2
