.dashboard-html{
    font-size: 62.5%;
}

.dashboard-body{
    
    background: white;
    margin-bottom: 12rem;
    line-height: 1.5;
    background-size: auto 2.4rem; 

    h1, h2, h3, h4, h5, h6, p{
        color: black;
    }

}


