html{
    font-size: 62.5%;
  }

.dashboard-body{
    background: white;
    line-height: 1.5;
    // background-image: linear-gradient(rgb(0, 0, 0) 0.1rem, transparent 0.1rem);
    background-size: auto 2.4rem; 

    h1, h2, h3, h4, h5, h6, p{
        color: black;
    }
}


