@mixin link-styles($color, $bgd, $border){
    text-decoration: none;
    color: $color;
    background: $bgd;
    border: 1px solid $border;
    border-radius: 1rem;
    padding: 2rem;
}


@mixin flex(){
    display: flex;
}

@mixin innerContainer($width){
    max-width: $width;
    margin: 0 auto;
}