/* CARDO FONT */

@font-face{
  font-family: "Cardo Bold";
  src: url('/static/fonts/Cardo-Bold.ttf');
}

@font-face{
  font-family: "Cardo Italic";
  src: url('/static/fonts/Cardo-Italic.ttf');
}

@font-face{
  font-family: "Cardo Regular";
  src: url('/static/fonts/Cardo-Regular.ttf');
}

/* RALEWAY FONT */

@font-face{
  font-family: "Raleway Bold";
  src: url('/static/fonts/Raleway-Bold.ttf');
}

@font-face{
  font-family: "Raleway Bold Italic";
  src: url('/static/fonts/Raleway-BoldItalic.ttf');
}

@font-face{
  font-family: "Raleway Regular";
  src: url('/static/fonts/Raleway-Regular.ttf');
}

@font-face{
  font-family: "Raleway Light";
  src: url('/static/fonts/Raleway-Light.ttf');
}

@font-face{
  font-family: "Raleway Thin";
  src: url('/static/fonts/Raleway-Thin.ttf');
}

@font-face{
  font-family: "Raleway Thin Italic";
  src: url('/static/fonts/Raleway-ThinItalic.ttf');
}


.dashboard-body{
  
  h2, h3, h4, h5, h6, p{
      color: $text-color;
      margin-bottom: 2.4rem; 
  }

  h2, h3, h4, h5, h6{
    font-family: $heading-font;
  }

  p{
    font-size: $paragraph;
    font-family: $para-font;
  }

  h1{
    font-size: 6.1rem; 
    line-height: 7.2rem; 
    margin-bottom: 4.8rem;
  }

  h2{
    font-size: 5.6rem; 
    line-height: 7.2rem; 
    margin-bottom: 3rem;
  }

  h3{
    font-size: 5.0rem; 
    line-height: 7.2rem; 
    margin-bottom: 2.8rem;
  }

  h4{
    font-size: 4.2rem; 
    line-height: 6.4rem; 
    margin-bottom: 4.8rem;
  }

  h5{
    font-size: 3.8rem; 
    line-height: 4.8rem; 
  }

  a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }

}
  
  