
/*******    COLORS    *******/
$white: rgb(255, 255, 255);
$text-color: rgb(47, 47, 55);
$dark: #49596c;
//$primary: rgb(223, 107, 54);
//$secondary: #D66028;
$primary: rgb(165, 194, 155);
$secondary: rgb(165, 194, 155);

$triangle-color: rgb(105, 117, 130);



/*******    NAVIGATION    *******/
$nav-shown: $dark;
$nav-background: $dark;
$nav-links-background: $primary;
$nav-link-color: $white;

/*******    HOVER    *******/
$hover-background: $secondary;
$hover-color: secondary;
$acc-hover-background: $secondary;
$nav-hover: $white;

/*******    ACCORDIAN    *******/
$acc-background: $dark;
$acc-badge-background: $primary;
$acc-link-color: $primary;
$user-acc-background: $dark;

$acc-tabs: 1.8rem;
$acc-tabs-font: 'Raleway Light', sans-serif;
$acc-badge: 1.4rem;
$acc-link-font: 'Raleway Bold', sans-serif;


/*******    BUTTONS    *******/
$button-color: $dark;
$button: 1.8rem;
$button-font: 'Raleway Regular', sans-serif;


/*******    OVERVIEW    *******/
$users-overview-bgd: linear-gradient(0deg, $white 0%, $secondary 50%);
//linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,204,190,1) 51%, rgba(255,255,255,1) 100%);
$overview-labels: 2.4rem;


/*******    PARA, HEADING, NAV     *******/
$para-font: 'Raleway Regluar', sans-serif;
$paragraph: 1.6rem;
$heading-font: 'Raleway Bold', sans-serif;
//$heading-font: 'Coolvetica Regluar', sans-serif;
$navlink-font: 'Raleway Regular', sans-serif;
$navlink-font-size: 1.8rem;
$signed-in: 1.4rem;


/*******      FORM     *******/
$input-border: 1px solid $primary;
$labelFontSize: 2rem;
$labelFont: 'Raleway Regluar', sans-serif;
$inputFontSize: 1.8rem;
$inputFontColor: rgb(73, 87, 106);





