@mixin accordian-tabs(){
    background: $acc-background;
    color: $white;
    padding: 1rem 3rem;
    @include breakpoint(tablet){
      padding: 1.2rem 3rem;
    }
    font-size: $acc-tabs;
    font-family: $acc-tabs-font;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
  }
  
  @mixin accordian-dropdown(){
    background: $user-acc-background;
    border-bottom: 1px solid rgb(138, 144, 152);
    padding: 1rem 2rem;
  }
  
  @mixin accordian-badge(){
    background: $acc-badge-background;
    color: $white;
    padding: 0.5rem 1rem;
    font-size: $acc-badge;
    border: 2px solid $white;
    border-radius: 1rem;
    margin-left: 1rem;
  }
  
  @mixin accordian-hover{
    background: $acc-hover-background;
    color: $white;
  }
  
  @mixin accordian-info-shown(){
    border: 1px solid $primary;
    border-top: 0;
    padding: 1rem;
  }