
// PADDING

@mixin padding($size) {

    @if $size == small {
      padding: 4.5rem 1.6rem 0 1.6rem;
    }

    @if $size == medium {
      padding: 6rem 3rem 0 3rem;
    }

    @if $size == large {
      padding: 4rem 6rem 0 30rem;
    }

    @else if $size == extraLarge {
      padding: 4rem 10rem 0 40rem;
    }
    
  }


  //BREAKPOINT

  @mixin breakpoint($size) {

    @if $size == maxTablet {
      @media screen and (max-width: 999px) {@content;}
    }

    @if $size == tablet {
      @media screen and (min-width: 700px) {@content;}
    }

    @else if $size == laptop {
      @media screen and (min-width: 1000px) {@content;}
    }

    @else if $size == desktop {
      @media screen and (min-width: 1280px) {@content;}
    }
    
  }

//INNER CONTAINER

@mixin innerContainer(){
    max-width: 1100px;
}//container


//   PARA WIDTH

@mixin para-width(){
  max-width: 54rem;
}//para


//FLEXBOX

@mixin flex($justify-content){
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}//flex