{% extends 'administration/base.html' %}

{% block content %}
        
<!-- ====================WELCOME BANNER==================== -->
	<div class="welcome">
		<h2>Manage site users</h2>
		<div class="border">
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
		</div>
		<p>Manage the site users. Create, delete and update user information and preferences.</p>
	</div>
<!-- ====================WELCOME BANNER CLOSE==================== -->
        
<!-- ====================CONTAINER==================== -->
	<div class="container">

	<!-- ====================USERS OVERVIEW==================== -->
		<div class="overview users-overview" id="users-overview">
			<div class="overview-box">
				<h3>Users Overview</h3>
				<div class="flex-overview">
					<div>
						<p>New Students: <span class="number">{{ new_users }}</span></p>
						<p>Registered Students: <span class="number">{{ registered_users }}</span></p>
					</div>
					<div>
						<a href="{% url 'create_user' %}">Create New User</a>
					</div>
				</div>
			</div>
		</div>
	<!-- ====================USERS OVERVIEW CLOSE==================== -->

	<!-- ====================ALERT==================== -->
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor%}
		{% endif %}
	<!-- ====================ALERT CLOSE==================== -->

	<!-- ====================ACCORDION==================== -->
		<div class="accordion users-acc"><!-- Accordion -->
			<h4>Latest User Activity</h4>
			{% if user.userprofile.access == 'admin' %}
			<div class="acc-tabs users-tabs-mobile"><!-- Tabs-->
				<a href="#" class="acc-new-users">N</a>
				<a href="#" class="acc-registered-users">R</a>
				<a href="#" class="acc-teachers">T</a>
				<a href="#" class="acc-elders">E</a>
				<a href="#" class="acc-admins">A</a>
			</div><!-- Tabs-->

			<div class="acc-tabs users-tabs-tablet"><!-- Tabs-->
				<a href="#" class="acc-new-users">New</a>
				<a href="#" class="acc-registered-users">Registered</a>
				<a href="#" class="acc-teachers">Teachers</a>
				<a href="#" class="acc-elders">Elders</a>
				<a href="#" class="acc-admins">Admins</a>
			</div><!-- Tabs-->
			{% else %}

			<div class="acc-tabs"><!-- Tabs-->
				<a href="#" class="acc-new-users">New</a>
				<a href="#" class="acc-registered-users">Registered</a>
			</div><!-- Tabs-->

			{% endif %}

		<!-- ====================PENDING USERS==================== -->
			<div id="new-users" class="acc-content"> <!-- New Users Content-->
				{% for user in users %}
					{% if user.userprofile.access == access %}
					<!-- ====================SINGLE USER==================== -->
						<div class="acc-single"> <!-- Single user -->
							<div class="acc-user-dropdown"><!-- User Dropdown -->
								<p class="acc-username">
									{{user.username}} 
									{% if user.userprofile.access == 'pending'%} 
									<span class="acc-badge">New!</span> 
									{% endif %}
								</p>
								<p class="icon-plus">+</p>
								<p class="icon-minus hidden">-</p>
							</div><!-- User Dropdown -->
							<div class="acc-user-info"><!-- User information -->
								<div class="information">
									<p>Created on: {{ user.date_joined| date:"M d, Y"}}</p>
									<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
									<p>Email: {{user.email}}</p>
								</div>
								<div class="options">
									<a href="{% url 'approve_user' %}{{ user.username }}">Approve User</a>
									<a href="{% url 'delete_user' %}{{ user.username }}">Delete User</a>
								</div>
							</div><!-- User information -->
						</div><!-- Single user -->
					<!-- ====================SINGLE USER CLOSE==================== -->      
					{% endif %}
				{% endfor %}
			</div><!-- New Users Content-->
		<!-- ==================PENDING USERS CLOSE =================== -->

		<!-- ====================STUDENTS==================== -->
			<div id="registered-users" class="acc-content hidden"> <!-- New Users Content-->
				{% for user in users %}
					{% if user.userprofile.access == 'student' %}
					<!-- ====================SINGLE USER==================== -->
						<div class="acc-single"> <!-- Single user -->
							<div class="acc-user-dropdown"><!-- User Dropdown -->
								<p class="acc-username">
									{{user.username}} 
									{% if user.userprofile.access == 'student'%} 
									<span class="acc-badge"><i class="fas fa-check-circle"></i></span> 
									{% endif %}
								</p>
								<p class="icon-plus">+</p>
								<p class="icon-minus hidden">-</p>
							</div><!-- User Dropdown -->
							<div class="acc-user-info"><!-- User information -->
								<div class="information">
									<p>Created on: {{ user.date_joined| date:"M d, Y"}}</p>
									<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
									<p>Email: {{user.email}}</p>
								</div>
								<div class="options">
									<a href="{% url 'edit_users' %}{{ user.username }}">Edit User</a>
									<a href="{% url 'delete_user' %}{{ user.username }}">Delete User</a>
								</div>
							</div><!-- User information -->
						</div><!-- Single user -->
					<!-- ====================SINGLE USER CLOSE==================== -->      
					{% endif %}
				{% endfor %}
			</div><!-- Registered Users Content-->
		<!-- ==================STUDENTS CLOSE =================== -->

			{% if user.userprofile.access == 'admin'%}

				<!-- ====================TEACHERS==================== -->
					<div id="teacher-users" class="acc-content hidden"> <!-- New Users Content-->
						{% for user in users %}
							{% if user.userprofile.access == 'teacher' %}
							<!-- ====================SINGLE USER==================== -->
								<div class="acc-single"> <!-- Single user -->
									<div class="acc-user-dropdown"><!-- User Dropdown -->
										<p class="acc-username">
											{{user.username}} 
											{% if user.userprofile.access == 'pending'%} 
											<span class="acc-badge">New!</span> 
											{% endif %}
										</p>
										<p class="icon-plus">+</p>
										<p class="icon-minus hidden">-</p>
									</div><!-- User Dropdown -->
									<div class="acc-user-info"><!-- User information -->
										<div class="information">
											<p>Created on: {{ user.date_joined| date:"M d, Y"}}</p>
											<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
											<p>Email: {{user.email}}</p>
										</div>
										<div class="options">
											<a href="{% url 'approve_user' %}{{ user.username }}">Approve User</a>
											<a href="{% url 'delete_user' %}{{ user.username }}">Delete User</a>
										</div>
									</div><!-- User information -->
								</div><!-- Single user -->
							<!-- ====================SINGLE USER CLOSE==================== -->      
							{% endif %}
						{% endfor %}
					</div><!-- New Users Content-->
				<!-- ==================TEACHERS CLOSE =================== -->

				<!-- ====================ELDERS==================== -->
					<div id="elder-users" class="acc-content hidden"> <!-- New Users Content-->
						{% for user in users %}
							{% if user.userprofile.access == 'elder' %}
							<!-- ====================SINGLE USER==================== -->
								<div class="acc-single"> <!-- Single user -->
									<div class="acc-user-dropdown"><!-- User Dropdown -->
										<p class="acc-username">
											{{user.username}} 
											{% if user.userprofile.access == 'pending'%} 
											<span class="acc-badge">New!</span> 
											{% endif %}
										</p>
										<p class="icon-plus">+</p>
										<p class="icon-minus hidden">-</p>
									</div><!-- User Dropdown -->
									<div class="acc-user-info"><!-- User information -->
										<div class="information">
											<p>Created on: {{ user.date_joined| date:"M d, Y"}}</p>
											<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
											<p>Email: {{user.email}}</p>
										</div>
										<div class="options">
											<a href="{% url 'approve_user' %}{{ user.username }}">Approve User</a>
											<a href="{% url 'delete_user' %}{{ user.username }}">Delete User</a>
										</div>
									</div><!-- User information -->
								</div><!-- Single user -->
							<!-- ====================SINGLE USER CLOSE==================== -->      
							{% endif %}
						{% endfor %}
					</div><!-- New Users Content-->
				<!-- ==================ELDER CLOSE =================== -->

				<!-- ====================ADMINS==================== -->
					<div id="admin-users" class="acc-content hidden"> <!-- New Users Content-->
						{% for user in users %}
							{% if user.userprofile.access == 'admin' %}
							<!-- ====================SINGLE USER==================== -->
								<div class="acc-single"> <!-- Single user -->
									<div class="acc-user-dropdown"><!-- User Dropdown -->
										<p class="acc-username">
											{{user.username}} 
											{% if user.userprofile.access == 'pending'%} 
											<span class="acc-badge">New!</span> 
											{% endif %}
										</p>
										<p class="icon-plus">+</p>
										<p class="icon-minus hidden">-</p>
									</div><!-- User Dropdown -->
									<div class="acc-user-info"><!-- User information -->
										<div class="information">
											<p>Created on: {{ user.date_joined| date:"M d, Y"}}</p>
											<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
											<p>Email: {{user.email}}</p>
										</div>
										<div class="options">
											<a href="{% url 'approve_user' %}{{ user.username }}">Approve User</a>
											<a href="{% url 'delete_user' %}{{ user.username }}">Delete User</a>
										</div>
									</div><!-- User information -->
								</div><!-- Single user -->
							<!-- ====================SINGLE USER CLOSE==================== -->      
							{% endif %}
						{% endfor %}
					</div><!-- New Users Content-->
				<!-- ==================ADMINS CLOSE =================== -->

			{% endif %}

		</div> <!-- Accordion -->
	<!-- ====================ACCORDION CLOSE==================== -->

	</div><!-- Container -->
<!-- ====================CONTAINER CLOSE==================== -->

{% endblock content %}

