{% extends 'administration/base.html' %}

{% block content %}
    <h2>Welcome {{ user.first_name }}, to your dashboard</h2>
    <p>Here you can manage the users and the content on your site.</p>
    <p>New students must have their access changed to Student before they can contribute to the site.</p>

    <div class="users-accordian"><!-- Accordian -->

        <div class="acc-tabs"><!-- Tabs-->
            <a href="{% url 'administration' %}pending">New</a>
            <a href="{% url 'administration' %}student">Students</a>
            <a href="{% url 'administration' %}teacher">Teachers</a>
            <a href="{% url 'administration' %}elder">Elders</a>
        </div><!-- Tabs-->

        <div class="acc-content"> <!-- Content-->
            {% for user in users %}
                {% if user.userprofile.access == access %}
                {% comment %} This part is what is repeated for each new user {% endcomment %}
                <div class="acc-single"> <!-- Single user -->
                        <div class="acc-user-dropdown"><!-- User Dropdown -->
                                <p class="acc-username">{{ user.first_name }} {{ user.last_name }}</p>
                                <p class="icon">+</p>
                        </div><!-- User Dropdown -->
                        <div class="acc-user-info closed"><!-- User information -->
                                <h2>User</h2>
                                <p>{{ user.username }}</p>
                                <h2>Email</h2>
                                <p>{{ user.email }}</p>
                                <h2>School</h2>
                                <p>{{ user.userprofile.school }}</p>
                                <h2>Access Level</h2>
                                <p>{{ user.userprofile.access }}</p>
                        </div><!-- User information -->
                </div><!-- Single user -->
                

                {% endif %}
            {% endfor %}
            
{% endblock content %}

