{% extends 'administration/base.html' %}

{% block content %}

<!-- ====================WELCOME BANNER==================== -->
	<div class="welcome">
		<h2>Manage site uploads</h2>
		<div class="border">
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
		</div>
		<p>Manage the uploads for the site content. Create, delete and update posts.</p>
	</div>
<!-- ====================WELCOME BANNER CLOSE==================== -->
	
<!-- ====================CONTAINER==================== -->
	<div class="container">

		<!-- ====================OVERVIEW==================== -->
		<div class="overview-background"></div>
		<div class="overview">
			<h3>Uploads Overview</h3>
			<div class="overview-box">
				<div>
					<p>New Uploads: <span class="number">12</span></p>
					<p>Published Uploads: <span class="number">40</span></p>
				</div>
				<div>
					<a href="{% url 'post_new' %}">Create New Upload</a>
				</div>
			</div>
		</div>
	<!-- ====================OVERVIEW CLOSE==================== -->

	{% comment %} <div class="filter">
		<div class="flex-container">
			<div class="dashboard-form">
			<form action="#">
				<div class="flex-form">
					<div class="dashboard-form-group">
						<label for="search" class="dashboard-label">Search <i class="fas fa-info-circle"></i></label>
						<input type="text" id="search" name="search" class="dashboard-input">
						<div class="tooltip hidden">
							<p>
								Enter a field that that youd want to search for! (example: someone's username)
							</p>
							<p>Click the information icon again to close this window.</p>
						</div>
					</div>
					<button class="filter-button">Search</button>
				</div>

				<div class="flex-form">
					<div class="dashboard-form-group">
						<label for="group" class="dashboard-label">Filter by group <i class="fas fa-info-circle"></i></label>
						<select name="group" id="group" class="dashboard-input">
							<option value="none">Select</option>
							<option value="student">Student</option>
							<option value="teacher">Teacher</option>
							<option value="elder">Elder</option>
						</select> 
						<div class="tooltip hidden">
							<p>
								Select the name of the permission group you want to filter by.
							</p>
							<p>Click the icon again to close this window.</p>
						</div>
					</div>

					<button class="filter-button">Filter</button>
				</div>
		
			</form>
			</div>
		</div>
	</div> {% endcomment %}

	<!-- ====================ACCORDION==================== -->
	<div class="accordion"><!-- Accordion -->
		<h4>Latest Upload Activity</h4>
		<div class="acc-tabs"><!-- Tabs-->
		<a href="#" class="acc-new-uploads">New</a>
		<a href="#" class="acc-published-uploads">Registered</a>
		</div><!-- Tabs-->

	<!-- ====================NEW UPLOADS==================== -->
		<div id="new-uploads" class="acc-content"> <!-- New Upoads Content-->
			{% for post in posts %}
				{% if post.approve == 0 %}
		<!-- ====================SINGLE UPLOAD==================== -->
			<div class="acc-single"> <!-- Single user -->
				<div class="acc-user-dropdown"><!-- User Dropdown -->
					<p class="acc-username">{{ post.title }}<span class="acc-badge">New!</span></p>
					<p class="icon-plus">+</p>
					<p class="icon-minus hidden">-</p>
				</div><!-- User Dropdown -->
				<div class="acc-user-info"><!-- User information -->
					<div class="information">
						<p>Created on: {{ post.date_posted| date:"M d, Y" }}</p>
						<p>Author: {{ post.author }}</p>
						<p>School: {{ post.school_slug }}</p>
						<p>Category: {{ post.category_slug }}</p>
					</div>
					<div class="options">
						<a href="#">Delete Upload</a>
						<a href="#">Edit Upload</a>
					</div>
				</div><!-- User information -->
			</div><!-- Single user -->
				{% endif %}
			{% endfor %}
		</div><!-- New Uploads Content-->
	<!-- ====================NEW UPLOADS CLOSE==================== -->

	<!-- ====================PUBLISHED UPLOADS==================== -->
		<div id="published-uploads" class="acc-content hidden"> <!-- New Users Content-->

		<!-- ====================SINGLE UPLOAD==================== -->
			<div class="acc-single"> <!-- Single user -->
				<div class="acc-user-dropdown"><!-- User Dropdown -->
					<p class="acc-username">title <span class="acc-badge">Published</span></p>
					<p class="icon-plus">+</p>
					<p class="icon-minus hidden">-</p>
				</div><!-- User Dropdown -->
				<div class="acc-user-info"><!-- User information -->
					<div class="information">
						<p>Created on: (date)</p>
						<p>Created by: (full name)</p>
						<p>Category: (category)</p>
						<p>Accepted By: (name)</p>
					</div>
					<div class="options">
						<a href="#">Delete Upload</a>
						<a href="#">Edit Upload</a>
					</div>
				</div><!-- User information -->
			</div><!-- Single user -->
		<!-- ====================SINGLE UPLOAD CLOSE==================== -->
			
		</div><!-- Published Uploads Content-->
	<!-- ====================PUBLISHED UPLOADS CLOSE==================== -->

	</div> <!-- Accordion -->
	<!-- ====================ACCORDION CLOSE==================== -->

	</div><!-- Container -->
<!-- ====================CONTAINER CLOSE==================== -->

{% endblock content %}

