{% extends 'administration/base.html' %}

{% block content %}

<!-- ====================WELCOME BANNER==================== -->
	<div class="welcome">
		<h2>Manage site uploads</h2>
		<div class="border">
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
			<div class="triangle-up"></div>
			<div class="triangle-down"></div>
		</div>
		<p>Manage the uploads for the site content. Create, delete and update posts.</p>
	</div>
<!-- ====================WELCOME BANNER CLOSE==================== -->
	
<!-- ====================CONTAINER==================== -->
	<div class="container">

		<!-- ====================OVERVIEW==================== -->
		<div class="overview">
			<div class="overview-box">
				<h3>Uploads Overview</h3>
				<div class="flex-overview">
					<div>
						<p>New Uploads: <span class="number">{{ new_post }}</span></p>
						<p>Published Uploads: <span class="number">{{ approved_post }}</span></p>
					</div>
					<div>
						<a href="{% url 'post_new' %}">Create New Upload</a>
					</div>
				</div>
			</div>
		</div>
	<!-- ====================OVERVIEW CLOSE==================== -->

	<!-- ====================ACCORDION==================== -->
	<div class="accordion"><!-- Accordion -->
		<h4>Latest Upload Activity</h4>
		<div class="acc-tabs"><!-- Tabs-->
		<a href="#" class="acc-new-uploads">New</a>
		<a href="#" class="acc-published-uploads">Published</a>
		</div><!-- Tabs-->

	<!-- ====================NEW UPLOADS==================== -->
		<div id="new-uploads" class="acc-content"> <!-- New Upoads Content-->
			{% for post in posts %}
				{% if post.approve == 0 %}
		<!-- ====================SINGLE UPLOAD==================== -->
			<div class="acc-single"> <!-- Single user -->
				<div class="acc-user-dropdown"><!-- User Dropdown -->
					<p class="acc-username">{{ post.title }}<span class="acc-badge">New!</span></p>
					<p class="icon-plus">+</p>
				</div><!-- User Dropdown -->
				<div class="acc-user-info"><!-- User information -->
					<div class="information">
						<p>Created on: {{ post.date_posted| date:"M d, Y" }}</p>
						<p>Author: {{ post.author }}</p>
						<p>Category: {{ post.school }} / {{ post.category }}</p>
					</div>
					<div class="options">
						<a href="{% url 'delete_upload' %}{{ post.slug }}">Delete Upload</a>
						<a href="{% url 'edit_upload' %}{{ post.slug }}">Edit Upload</a>
					</div>
				</div><!-- User information -->
			</div><!-- Single user -->
				{% endif %}
			{% endfor %}
		</div><!-- New Uploads Content-->
	<!-- ====================NEW UPLOADS CLOSE==================== -->

	<!-- ====================PUBLISHED UPLOADS==================== -->
		<div id="published-uploads" class="acc-content hidden"> <!-- New Users Content-->
			{% for post in posts %}
				{% if post.approve == 1 %}
		<!-- ====================SINGLE UPLOAD==================== -->
			<div class="acc-single"> <!-- Single user -->
				<div class="acc-user-dropdown"><!-- User Dropdown -->
					<p class="acc-username">{{ post.title }} <span class="acc-badge"><i class="fas fa-check-circle"></i></span></p>
					<p class="icon-plus">+</p>
				</div><!-- User Dropdown -->
				<div class="acc-user-info"><!-- User information -->
					<div class="information">
						<p>Created on: {{ post.date_posted| date:"M d, Y" }}</p>
						<p>Created by: {{ post.author }}</p>
						<p>Category: {{ post.school }} / {{ post.category }}</p>
					</div>
					<div class="options">
						<a href="{% url 'delete_upload' %}{{ post.slug }}">Delete Upload</a>
						<a href="{% url 'edit_upload' %}{{ post.slug }}">Edit Upload</a>
					</div>
				</div><!-- User information -->
			</div><!-- Single user -->
				{% endif %}
			{% endfor %}
		<!-- ====================SINGLE UPLOAD CLOSE==================== -->
			
		</div><!-- Published Uploads Content-->
	<!-- ====================PUBLISHED UPLOADS CLOSE==================== -->

	</div> <!-- Accordion -->
	<!-- ====================ACCORDION CLOSE==================== -->

	</div><!-- Container -->
<!-- ====================CONTAINER CLOSE==================== -->

{% endblock content %}

