{% extends 'administration/base.html' %}

{% block content %}
        
<!-- ====================WELCOME BANNER==================== -->
        <div class="welcome">
                <h2>Editing (username's) information</h2>
                <p>All fields must be entered fully.</p>
        </div>
<!-- ====================WELCOME BANNER CLOSE==================== -->
        
<!-- ====================CONTAINER==================== -->
        <div class="container">

            <div class="flex-container">
                <form action="#" class="dashboard-form">
                    <div class="dashboard-form-group">
                        <label for="firstname" class="dashboard-label">First Name <i class="fas fa-info-circle"></i></label>
                        <input type="text" id="firstname" name="firstname" class="dashboard-input">
                    </div>
                </form>
                <div class="side-image"></div>
            </div>

            
        

        </div><!-- Container -->
<!-- ====================CONTAINER CLOSE==================== -->

{% endblock content %}

