{% extends 'administration/base.html' %}

{% block content %}
        
<!-- ====================WELCOME BANNER==================== -->
        <div class="welcome">
                <h2>Editing {{ user.first_name }}'s information</h2>
                <p>All fields must be entered fully.</p>
        </div>
<!-- ====================WELCOME BANNER CLOSE==================== -->
        
<!-- ====================CONTAINER==================== -->
        <div class="container">

            <div class="flex-container">
                <div class="dashboard-form">
                    <form action="#">
                        <div class="dashboard-form-group">
                            <label for="firstname" class="dashboard-label">First Name<span class="required">*</span> <i class="fas fa-info-circle"></i></label>
                            <input type="text" id="firstname" name="firstname" class="dashboard-input">
                            <div class="tooltip hidden">
                                <p>
                                    Enter the users first name. Minimum 4 characters and maximum 20 characters in length. Field is required.
                                </p>
                                <p>Click the information icon again to close this window.</p>
                            </div>
                        </div>
                        <div class="dashboard-form-group">
                            <label for="lastname" class="dashboard-label">Last Name<span class="required">*</span> <i class="fas fa-info-circle"></i></label>
                            <input type="text" id="lastname" name="lastname" class="dashboard-input">
                            <div class="tooltip hidden">
                                <p>
                                    Enter the users last name. Minimum 4 characters and maximum 20 characters in length. Field is required.
                                </p>
                                <p>Click the information icon again to close this window.</p>
                            </div>
                        </div>
                        <div class="dashboard-form-group">
                            <label for="username" class="dashboard-label">Username<span class="required">*</span> <i class="fas fa-info-circle"></i></label>
                            <input type="text" id="username" name="username" class="dashboard-input">
                            <div class="tooltip hidden">
                                <p>
                                    Enter the users username. Minimum 4 characters and maximum 20 characters in length. Field is required.
                                </p>
                                <p>Click the information icon again to close this window.</p>
                            </div>
                        </div>
                        <div class="dashboard-form-group">
                            <label for="group" class="dashboard-label">Group<span class="required">*</span> <i class="fas fa-info-circle"></i></label>
                            <select name="group" id="group" class="dashboard-input">
                                <option value="none">Select</option>
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                                <option value="elder">Elder</option>
                            </select> 
                            <div class="tooltip hidden">
                                <p>
                                    Choose the users permission group. Field is required. 
                                </p>
                                <p>Click the icon again to close this window.</p>
                            </div>
                        </div>
                        <button class="form-button">Edit User</button>
                    </form>
                </div>
                <div class="side-image"></div>
            </div>

        </div><!--Container-->
<!-- ====================CONTAINER CLOSE==================== -->

{% endblock content %}

