/* ------------------------------------------------------
                LANDING STYLES
------------------------------------------------------ */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Media Queries for different viewport sizes*/
/* CARDO FONT */
@font-face {
  font-family: "Cardo Bold";
  src: url("/static/fonts/Cardo-Bold.ttf");
}

@font-face {
  font-family: "Cardo Italic";
  src: url("/static/fonts/Cardo-Italic.ttf");
}

@font-face {
  font-family: "Cardo Regular";
  src: url("/static/fonts/Cardo-Regular.ttf");
}

/* RALEWAY FONT */
@font-face {
  font-family: "Raleway Bold";
  src: url("/static/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway Bold Italic";
  src: url("/static/fonts/Raleway-BoldItalic.ttf");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("/static/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/static/fonts/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway Thin Italic";
  src: url("/static/fonts/Raleway-ThinItalic.ttf");
}

/* Custom Styles for Typography */
h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 500;
  line-height: 1.15;
}

h1 {
  font: 4.209em/1 'Cardo Regular', sans-serif;
  margin-top: 0;
  color: white;
  text-transform: uppercase;
}

h1 span {
  text-transform: none;
  font-style: italic;
  margin-left: 50px;
}

h1 a {
  text-decoration: none;
  color: white;
}

h2 {
  font: 3.157em/1.5 'Raleway Regular', sans-serif;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font: 2.369em/1.5 'Cardo Bold', sans-serif;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 60px;
  }
}

p {
  font: 18px/1.5 'Raleway Regular', sans-serif;
  text-align: justify;
}

.inner-container {
  margin: 0 4%;
}

@media screen and (min-width: 1024px) {
  .inner-container {
    margin: 0 14%;
  }
}

img, .treaty-img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .treaty .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.treaty h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.treaty .treaty-img {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .treaty .treaty-img {
    width: 200px;
    height: 200px;
    margin-right: 40px;
  }
}

.decoration {
  width: 60%;
  margin: 40px auto 80px;
}

@media screen and (min-width: 768px) {
  .decoration {
    margin: 60px auto 120px;
    width: 40%;
  }
}

header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10px;
  background-color: #278AB0;
}

@media screen and (min-width: 768px) {
  header .top-header {
    margin-bottom: 70px;
  }
}

header .login {
  margin-top: 8px;
}

header .login a {
  font-family: 'Cardo Regular', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: white;
  background-color: #9DC183;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
}

header .login a:hover {
  background-color: #DB7434;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-toggle {
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.navigation {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #278AB0;
  width: 100%;
  height: 100vh;
}

.navigation .close-nav {
  text-decoration: none;
  color: white;
  font-size: 34px;
  position: absolute;
  top: 24px;
  left: 93%;
  -webkit-transition: .5 ease-in-out;
  transition: .5 ease-in-out;
}

@media screen and (min-width: 768px) {
  .navigation .close-nav {
    left: 95%;
  }
}

.navigation ul {
  margin-top: 80px;
}

.navigation ul li {
  list-style-type: none;
  text-align: center;
  margin-bottom: 60px;
}

.navigation ul li a {
  font-family: 'Raleway Regular', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.navigation ul li a.underline-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.navigation ul li a.underline-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  padding-top: 2px;
  background: #ffeb4e;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navigation ul li a.underline-link:hover::after {
  width: 50%;
}

.navigation ul li a .dropdown {
  color: #ffeb4e;
  font-size: 18px;
  margin-left: 10px;
}

.navigation ul li .sub-menu {
  display: none;
}

.show-nav {
  top: 0;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.show-sub-menu {
  display: block;
}

footer {
  background-color: #278AB0;
  padding: 30px 10px;
}

footer h1 {
  text-align: center;
  opacity: 20%;
  margin-bottom: 20px;
}

footer .line {
  width: 300px;
  margin: 0 auto;
  height: 2px;
  background-color: white;
  opacity: 10%;
  margin-bottom: 40px;
}

footer .row {
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .row .col {
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  footer .row .col {
    width: 33.333%;
  }
}

footer .row .col li {
  margin-bottom: 4px;
}

footer .row .col a {
  text-decoration: none;
  color: white;
}

footer .row .col a:hover {
  color: #9DC183;
}

footer .row .col li:nth-child(1) {
  font-family: 'Cardo Italic', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer .bottom {
  color: #9DC183;
  opacity: 20%;
}

footer .bottom p {
  text-align: center;
  font-size: 16px;
}

/* ------------------------------------------------------
                MAP STYLES
------------------------------------------------------ */
/*============================================
                   Custom Styles 
   ===========================================*/
/*---------- General ----------*/
main {
  height: 100%;
  padding: 5rem 0;
}

.interactive-map {
  background-color: #0c2034;
}

a {
  color: #999;
}

a:hover {
  color: #999;
}

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20rem 0;
  width: 60%;
  margin: 0 auto;
  background-image: url(../img/canada.svg);
  background-repeat: no-repeat;
  height: 35rem;
  padding-top: 10%;
}

.province-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.province-nav > li {
  padding: 1rem;
  width: 14%;
  text-decoration: underline;
  border: 1px solid #999999;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.province-nav > li:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #999999;
  color: #333;
  cursor: pointer;
}

.local-holder {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.alberta-svg {
  width: 30rem;
  height: 40rem;
  background-image: url("../img/alberta.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.alberta-content {
  width: 75%;
  margin: 0 auto;
}

.bc-svg {
  width: 30rem;
  height: 40rem;
  background-image: url("../img/bc.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.bc-content {
  width: 75%;
  margin: 0 auto;
}

.sask-svg {
  width: 30rem;
  height: 40rem;
  background-image: url("../img/saskatchewan.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.sask-content {
  width: 75%;
  margin: 0 auto;
}

.manitoba-svg {
  width: 30rem;
  height: 40rem;
  background-image: url("../img/manitoba.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.manitoba-content {
  width: 75%;
  margin: 0 auto;
}

.school-icon-main {
  width: 15%;
  position: relative;
  margin-top: 30%;
  left: 45%;
}

.treaty-icon-main {
  width: 15%;
  position: relative;
  margin-top: 100%;
  left: 50%;
}

.school-icon-main:hover,
.treaty-icon-main:hover {
  border: 1px solid #999999;
  border-radius: 15px;
}

.learn-more-local-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.map-local-link {
  width: 40%;
  text-align: center;
}

.bc:hover,
.sask:hover,
.manitoba:hover {
  cursor: not-allowed;
}

.map-local-link,
.return-link,
.mobile-local-button {
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 1rem;
}

.map-local-link:hover,
.return-link:hover,
.mobile-local-button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #999999;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.mobile-local-button {
  margin: 0 auto;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.return-link {
  width: 10rem;
  margin-left: 5rem;
  margin-top: 3rem;
}

.province-hover {
  color: #999999;
  padding: 0;
}

.local {
  background-image: url(../img/local-arrow.svg);
  background-repeat: no-repeat;
  width: 6%;
  height: 15%;
  padding: 1rem;
}

.holder-mobile {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.holder-mobile > div > img {
  width: 25rem;
  margin: 0 auto;
}

.slideshow-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slideshow-buttons > span {
  height: 4rem;
  width: 4rem;
  margin: 0;
  border: 1px solid #999999;
  border-radius: 15px;
}

.next,
.prev {
  background-color: #0c2034;
  border-radius: 50%;
  color: #ddd;
  display: inline-block;
  font-size: 210%;
  font-weight: bold;
  margin-top: 30%;
  width: 40px;
  padding-bottom: 2px;
}

.next:hover,
.prev:hover {
  cursor: pointer;
}

/*---------- Respondsive ----------*/
@media only screen and (max-width: 1000px) {
  .alberta-svg,
  .bc-svg,
  .sask-svg,
  .manitoba-svg {
    width: 20rem;
    height: 26.6rem;
  }
  .local-holder {
    width: 80%;
  }
  .alberta-content,
  .bc-content,
  .sask-content,
  .manitoba-content {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .holder {
    display: none;
  }
  .holder-mobile {
    display: block;
  }
}

/*---------- utils ----------*/
.text-center {
  text-align: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grey {
  background-color: #999999;
}

.hidden {
  display: none;
}

.no-padding {
  padding: 0;
}

.width-full {
  width: 100%;
}

/* ------------------------------------------------------
                DASHBOARD STYLES
------------------------------------------------------ */
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

/*******    CONTENT PADDING    *******/
/*******    COLORS    *******/
/*******    FONTS     *******/
/*******      FORM STYLES      *******/
html {
  font-size: 62.5%;
}

.dashboard-body {
  background: white;
  line-height: 1.5;
  background-size: auto 2.4rem;
}

.dashboard-body h1, .dashboard-body h2, .dashboard-body h3, .dashboard-body h4, .dashboard-body h5, .dashboard-body h6, .dashboard-body p {
  color: black;
}

.dashboard-body h2, .dashboard-body h3, .dashboard-body h4, .dashboard-body h5, .dashboard-body h6, .dashboard-body p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 2.4rem;
}

.dashboard-body h2 {
  color: #404b5e;
}

.dashboard-body h1 {
  font-size: 6.9rem;
  line-height: 7.2rem;
  margin-bottom: 4.8rem;
}

.dashboard-body h2 {
  font-size: 6.1rem;
  line-height: 7.2rem;
}

.dashboard-body h3 {
  font-size: 5.1rem;
  line-height: 7.2rem;
}

.dashboard-body h4 {
  font-size: 4.8rem;
  line-height: 7.2rem;
}

.dashboard-body h5 {
  font-size: 4.1rem;
  line-height: 4.8rem;
}

.dashboard-body h6 {
  font-size: 3.7em;
  line-height: 4.8rem;
}

.dashboard-body a {
  text-decoration: none;
}

.dashboard-body li {
  list-style: none;
}

.dashboard-header {
  padding: 1rem 1.6rem;
  background: #404b5e;
}

@media screen and (max-width: 1099px) {
  .dashboard-header {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
}

@media screen and (min-width: 1100px) {
  .dashboard-header {
    width: 24rem;
    height: 200vh;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.dashboard-header h1 {
  margin: 0;
  font-size: 4rem;
  color: white;
}

@media screen and (min-width: 1100px) {
  .dashboard-header h1 {
    margin: 3rem 0;
    text-align: center;
  }
}

.menu-closed-header-style {
  background-color: #7493c9;
}

@media screen and (min-width: 1100px) {
  .menu-closed-header-style {
    background: #404b5e;
  }
}

@media screen and (max-width: 1099px) {
  .dashboard-body .dashboard-navigation {
    width: 100%;
    position: absolute;
    top: 5.3rem;
    right: -100%;
    background-color: #7493c9;
    padding-bottom: 4rem;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    margin-top: 3.9rem;
  }
}

@media screen and (min-width: 800px) {
  .dashboard-body .dashboard-navigation {
    width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .dashboard-body .dashboard-navigation {
    display: inline-block;
    width: 22rem;
    background: #404b5e;
  }
}

.dashboard-body .dashboard-navigation .nav-link a {
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin: 2rem;
  display: block;
  padding: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1100px) {
  .dashboard-body .dashboard-navigation .nav-link a {
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
}

.dashboard-body .dashboard-navigation .nav-link a p {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-family: arial;
}

.dashboard-body .dashboard-navigation .nav-link a p span {
  font-size: 1.4rem;
}

.dashboard-body .dashboard-navigation .logout {
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin: 2rem;
  display: block;
  padding: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1100px) {
  .dashboard-body .dashboard-navigation .logout {
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1099px) {
  .dashboard-body .dashboard-navigation .logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1100px) {
  .dashboard-body .dashboard-navigation .logout .signed-in {
    padding-bottom: 1.5rem;
  }
}

.dashboard-body .dashboard-navigation .logout a p {
  text-align: right;
}

.dashboard-body .dashboard-navigation .logout p {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-family: arial;
}

.dashboard-body .dashboard-navigation .logout p span {
  font-size: 1.4rem;
}

.dashboard-header .menu-icon {
  width: 3rem;
}

@media screen and (min-width: 1100px) {
  .dashboard-header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 1099px) {
  .dashboard-header .menu-icon:after,
  .dashboard-header .menu-icon:before,
  .dashboard-header .menu-icon div {
    background-color: white;
    border-radius: 0.3rem;
    content: '';
    display: block;
    height: 0.3rem;
    margin: 0.5rem 0;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .dashboard-header .close-button {
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    text-align: right;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .dashboard-header .icon-closed:before {
    -webkit-transform: translateY(7px) rotate(135deg);
            transform: translateY(7px) rotate(135deg);
  }
  .dashboard-header .icon-closed:after {
    -webkit-transform: translateY(-9px) rotate(-135deg);
            transform: translateY(-9px) rotate(-135deg);
  }
  .dashboard-header .icon-closed div {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .dashboard-header .menu-toggle {
    position: absolute;
    right: 0;
  }
}

.dashboard-main {
  padding: 1rem;
}

@media screen and (min-width: 800px) {
  .dashboard-main {
    padding: 3rem;
  }
}

@media screen and (min-width: 1100px) {
  .dashboard-main {
    padding: 0rem 3rem 3rem 28rem;
  }
}

.dashboard-main p {
  color: #404b5e;
  font-size: 1.6rem;
}

.dashboard-main .users-accordian .acc-tabs {
  margin-bottom: 0.8rem;
}

.dashboard-main .users-accordian .acc-tabs a {
  background: #7493c9;
  color: white;
  padding: 1.2rem 4rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

.dashboard-main .users-accordian .acc-content .acc-single .acc-user-dropdown:hover {
  background: #404b5e;
}

.dashboard-main .users-accordian .acc-content .acc-single .acc-user-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7493c9;
  color: white;
  padding: 1rem 2rem;
  border-top-right-radius: 1.6rem;
}

.dashboard-main .users-accordian .acc-content .acc-single .acc-user-dropdown p {
  font-size: 2rem;
  color: white;
  margin-bottom: 0;
}

.dashboard-main .users-accordian .acc-content .acc-single .acc-user-info {
  border: 1px solid #7493c9;
  padding: 1rem;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.dashboard-main .users-accordian .acc-content .acc-single .closed {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}
/*# sourceMappingURL=styles.css.map */