.no-post{
    font-family: 'Raleway bold', sans-serif;
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
}
.post-noh1{
    font-size: 60.512px;
    padding-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'Raleway regular', sans-serif;
}
.no-postpage{
    background-image: linear-gradient(to right , rgb(126, 176, 241), rgb(199, 70, 65));
}