
.about{
    margin-top: 80px;
    position: relative;


    h3{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .content{
        margin-bottom: 120px;
    }

    .grid{
        .member-1, .member-2, .member-3{
            margin-bottom: 80px;
            position: relative;

            @include media-md{
                display: flex;
                justify-content: space-between;
            }

            .line{
                position: absolute;
                top: -10px;
                left: 10px;
                width: 100px;
                z-index: 0;
                
                @include media-md{
                    left: -10px;
                    width: 60px;
                }
                @include media-xl{
                    left: -50px;
                    width: 110px;
                }
            }

            .circle{
                position: absolute;
                top: 320px;
                left: 300px;
                width: 120px;
                z-index: 0;

                @include media-md{
                    width: 90px;
                    top:180px;
                    left: 740px;
                }

                @include media-lg{
                    top: 200px;
                    left: 860px;
                }

                @include media-dk{
                    top: 280px;
                    left: 1080px;
                }

                @include media-xl{
                    top: 240px;
                    left: 1080px;
                    width: 180px;
                }
            }

            .corner{
                position: absolute;
                top: -10px;
                left: 60px;
                width: 200px;
                z-index: 0;

                @include media-md{
                    left: -10px;
                    width: 100px;
                }

                @include media-xl{
                    top: -16px;
                    left: -20px;
                    width: 180px;
                }

    
            }

            h4{
                text-align: center;
                margin-bottom: 20px;
            }

            .member-img{
                margin: 0 auto;
                width: 300px;
                border-radius: 20px;
                margin-bottom: 10px;

                @include media-md{
                    width: 1400px;
                }
            }

            .description{
                @include media-md{
                    margin-left: 40px;
                }
            }
        }

        .member-2{
            @include media-md{
                display: flex;
                display: flex;
                flex-direction: row-reverse;
            }

            .description{
                @include media-md{
                    margin-left: 0;
                    margin-right: 40px;
                }
            }
        }
    }
}