.banner{
    background-image: url(/static/img/home_page_landing_image-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88vh; 
    padding: 120px 30px;
    margin-bottom: 100px;

    @include media-md{
        height: 87vh;
        padding: 80px 60px;
    }

    @include media-lg{
        height: 88vh;
        padding: 60px 120px;
    }

    @include media-xl{
        height: 88vh;
        padding: 80px 360px;
    }

    .quote{
        background-color: $purple-opacity;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 100px;

        @include media-md{
            padding: 20px 48px;
        }

        @include media-lg{
            padding: 40px 50px;
            max-width: 800px;
        }

        @include media-xl{
            padding: 40px 100px;
            max-width: 1200px;
        }

        h3{
            font-family: Fondamento;
            color: white;
            font-size: 30px;

            @include media-md{
                font-size: 40px;
            }

            @include media-lg{
                font-size: 40px;
            }

            @include media-xl{
                font-size: 50px;
            }

            span{
                color: $orange;
                letter-spacing: 2px;
                font-size: 40px;
                margin-left: 40px;

                @include media-md{
                    font-size: 48px;
                }
                @include media-lg{
                    letter-spacing: 3px;
                    font-size: 44px;
                }

                @include media-xl{
                    font-size: 60px;
                }
            }
        }
           
    }

    .explore-btn{
        a{
            text-transform: uppercase;
            text-decoration: none;
            font-size: 20px;
            letter-spacing: 2px;
            color: white;
            background-color: $red-colour;
            padding: 10px 60px;
            border-radius: 8px;
            display: table;
            margin: 0 auto;

            &:hover{
                background-color: $light-purple;
                transition: 0.5s;
            }
            
            @include media-lg{
                padding: 20px 120px;
                border-radius: 10px;
                font-size: 26px;
            }
        }
    }
}