.hero{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-image: url(/static/img/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-bottom: 100px;
    padding: 40px;

    .hero-inner{
        background-color: $purple-opacity;
        border-radius: 20px;
        padding: 20px 10px;
        margin-bottom: 60px;

        @include media-md{
            padding: 20px 40px;
        }

        h3{
            color: white;
            font-family: Raleway Thin;
        }

        span{
            color: $orange;
            font-family: Raleway Bold Italic;
        }
        
    }

    .explore{
        width: 300px;
        border-radius: 10px;
        padding: 20px;
        background-color: $red-colour;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        text-decoration: none;

        &:hover{
            background-color: $light-purple;
            color: black;
            transition: 0.5s;
        }
    }
    
}