header{
    .top-header{
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        background-color: $light-blue;
    
        @include media-md{
            margin-bottom: 70px;
        }
    }

    .login{
        margin-top: 8px;
    }

    .login a{
        font-family: 'Cardo Regular', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        color: white;
        background-color: $red-colour;
        padding: 8px;
        margin-top: 10px;
        border-radius: 8px;

        &:hover{
            background-color: $light-purple;
            transition: 0.5s;
        }
    }

    .menu{
        @include flex;
    }
}