.menu-toggle{
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.navigation{
    position: absolute;
    top: -100%;
    left: 0;
    background-color: $light-blue;
    width: 100%;
    height: 100vh;

    .close-nav{
        text-decoration: none;
        color: white;
        font-size: 34px;
        position: absolute;
        top: 24px;
        left: 93%;
        transition: .5 ease-in-out;

        @include media-md{
            left: 95%;
        }
    }
    ul{
        margin-top: 80px;
        li{
            list-style-type: none;
            text-align: center;
            margin-bottom: 60px;

            a{
                font-family: 'Raleway Regular', sans-serif;
                text-transform: uppercase;
                font-size: 24px;
                text-decoration: none;
                color: white;

                &.underline-link{
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                }
                
                &.underline-link::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    padding-top: 2px;
                    background: $orange;
                    transition: width .3s;
                }
        
                &.underline-link:hover::after{
                        width: 50%;
                }
                .dropdown{
                    color: $orange;
                    font-size: 18px;
                    margin-left: 10px;
                    
                }
            }
            .sub-menu{
                display: none;
                
            }
        }
    }
}

.show-nav{
    top: 0;
    transition: .8s ease;
}

.show-sub-menu{
    display: block;
}