.main-header{

    .main-navigation{
        z-index: 90;
        @include breakpoint(maxTablet){
            padding: 20px;
            text-align: center;
            width: 100%;
            position: absolute;
            top: 30px;
            right: -100%;
            background: $light-blue;
            padding-bottom: 4rem;
            transition: all 0.7s ease-in-out;
            margin-top: 3.9rem;
        }

        @include breakpoint(laptop){
            left: 0;

            .menu-links{
                display: flex;
            }
        }

        

        .nav-link{ 

            @include breakpoint(laptop){
                padding-right: 26px;
            }
        
            a{
                font-family: 'Raleway Regular', sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 20px;
                text-decoration: none;
                color: white;

                @include breakpoint(laptop){
                    font-size: 18px;
                }
                
                &.underline-link{
                    @include breakpoint(maxTablet){
                        display: inline-block;
                    }
                    color: white;
                    text-decoration: none;
                }
                
                &.underline-link::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    padding-top: 2px;
                    background: $orange;
                    transition: width .3s;
                }
        
                &.underline-link:hover::after{
                        width: 50%;
                }

                .dropdown{
                    color: $orange;
                    font-size: 18px;
                    padding-left: 10px;
                }

            }//a

            .sub-menu{
                transition: 0.7s;
                border-top: 2px solid white;
                border-bottom: 2px solid white;
                width: 150px;
                margin: 0 auto;
                padding-top: 20px;
                margin-bottom: 20px;

                @include breakpoint(laptop){
                    position: absolute;
                    padding: 20px;
                    width: 200px;
                    top: 90px;
                    background: $light-blue;
                    border-bottom: 0;
                }

                li{
                    padding-bottom: 10px;
                }
            }

            .sub-menu .hidden{
                    display: none;
            }

        }//.navlink

        .nav-link:last-child{
            padding-right: 0;
        }

        .margin-bottom{
            margin-bottom: 20px;
            @include breakpoint(laptop){
                margin-bottom: 0;
            }
        }



    }//main-navigation

}//main-header
