.newpostlable{
    margin-left:10%;
}
.newposth1{
    font-size:60px;
    font-family: Raleway Blod;
    margin-bottom: 5%;
    color: black;
}
label{
    font-size: 30px;
    padding-right: 30px;
    font-family: Cardo bold;
}
#id_category, #id_school, #id_title, #id_slug, #id_video {
    font-size: 25px;
    color:  seagreen;
    font-family: Cardo regular;
}
#id_image{
    margin-bottom: 40px;
}
p{
    padding-bottom: 20px;
    color: #fafce1;
}
.newpostbtn{
    font-size: 30px;
    color: rgb(27, 77, 49);
    font-family: Cardo bold;
    background-color: #fafce1;
    border: 1px seagreen;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 10%;
}
