.inner-container{
    margin: 0 4%;

    @include media-lg{
        margin: 0 14%;
    }
  }


img, .treaty-img{
    max-width: 100%;
    height: auto;
}
/* HEADER CUSTOM STYLES */

header{
   
    .top-header{
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        background-color: $darkblue;

        @include media-md{
            margin-bottom: 70px;
        }
    }

    .login{
        margin-top: 8px;
    }

    .login a{
        font-family: 'Cardo Regular', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        color: white;
        background-color: $sage;
        padding: 8px;
        margin-top: 10px;
        border-radius: 8px;

        &:hover{
            background-color: $maroon;
            transition: 0.5s;
        }
    }

    .menu{
        @include flex;
    }
}

.treaty{

    .content{
        @include media-md{
            display: flex;
            justify-content: space-between;
        }
    }

    h3{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .treaty-img{
        width: 60%;
        
        margin: 0 auto;
        margin-bottom: 40px;

        @include media-md{
            width: 200px;
            height: 200px;
            margin-right: 40px;
        }
    }

}

.decoration{
    width: 60%;
    margin: 40px auto 80px;

    @include media-md{
        margin: 60px auto 120px;
        width: 40%;
    }
}

.interactive-map{
    width: 100%;
    height: 450px;
    background-color: $darkblue;
    padding: 30px 10px;
    margin-bottom: 80px;

    @include media-md{
        height: 500px;
        margin-bottom: 110px;
    }
    h2{
        color: white;
        text-align: center;
        line-height: 1.5;
    }

    h3{
        text-transform: uppercase;
        color: white;
        text-align: center;
    }

    img{
        margin: 40px auto;
    }
}






