.container{

    .alert{
        padding: 1rem;
        background: $secondary;
        color: white;
        font-size: 1.3rem;
        font-family: "Raleway Bold";
        text-align: center;
    }

}