.edit-user{

    @media only screen and (min-width: 820px){
        width: 800px;
        margin: 0 auto;
        margin-bottom: 10rem;
        margin-top: 3rem;
    }

    @include breakpoint(tablet){
        padding: 2rem;
    }

    h2{
        @include pageHeading;
    }

    .edit-profile{
        margin-bottom: 4rem;

        select{
            height: 2.7rem;
            margin-bottom: 3rem;
        }

    }


}