{% extends "home/base.html" %}
{% block content %}
<div class="background">
    <div class="page-styles">
        <form enctype="multipart/form-data" method="POST">
            <h2>Change Your Password</h2>
            <div class="border border-mobile">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                </div>

                <div class="border border-tablet">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                </div>
            {% comment %} csrf_token is some built in security {% endcomment %}
            {% csrf_token %} 
            {{form}}
            <button type="submit" class="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock content %}