{% extends "home/base.html" %}
{% block content %}
<div class="edit-user page-styles">
    <h2>Update Your Profile</h2>
    <form enctype="multipart/form-data" method="POST" class="edit-profile">
        
        {% comment %} csrf_token is some built in security {% endcomment %}
        {% csrf_token %} 
        <div>

        {% comment %} Loops over each field specified in forms.py and generates a bootstrapped form-group {% endcomment %}
            {% for field in form %}
                <div>
                    <label for="{{ field.html_name }}">{{ field.label }}</label>
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.html_name }}" 
                        id="{{ field.html_name }}" 
                        class="" 
                        max_length="{{ field.field.max_length }}"
                        min_length="{{ field.field.min_length }}"
                        value="{{field.value}}"
                    >
                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div>
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}

            
            {% for field in profile_form %}
                {% comment %} CREATE SELECT HTML ELEMENT {% endcomment %}
                {% if field.field.widget.input_type == 'select' %}
                    <div class="select">
                        <label for="{{ field.html_name }}">{{ field.label }}</label>
                        <select name="{{ field.html_name }}" id="{{ field.html_name }}">
                            {% for choice in field.field.choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                {% comment %} CREATE TEXT INPUT HTML ELEMENT {% endcomment %}
                {% elif field.field.widget.input_type != 'select' %}
                    <div>
                        <label for="{{ field.html_name }}">{{ field.label }}</label>
                        <input 
                            type="{{ field.field.widget.input_type }}" 
                            name="{{ field.html_name }}" 
                            id="{{ field.html_name }}" 
                            class="" 
                            max_length="{{ field.field.max_length }}"
                            min_length="{{ field.field.min_length }}"
                        >
                    </div>
                {% endif %}

                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div>
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button type="submit" class="submit">Update</button>
            <a href="{% url 'change_password' %}" class="submit">Change Password</a>
        </div>
    </form>

</div>
    
{% endblock content %}