{% extends "home/base.html" %}
{% block content %}
    <form enctype="multipart/form-data" method="POST">
        <h2>Update Your Profile</h2>
        {% comment %} csrf_token is some built in security {% endcomment %}
        {% csrf_token %} 
        <div style="width: 40%">

        {% comment %} Loops over each field specified in forms.py and generates a bootstrapped form-group {% endcomment %}
            {% for field in form %}
                <div class="form-group mb-4">
                    <label for="{{ field.html_name }}">{{ field.label }}</label>
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.html_name }}" 
                        id="{{ field.html_name }}" 
                        class="form-control" 
                        max_length="{{ field.field.max_length }}"
                        min_length="{{ field.field.min_length }}"
                        value="{{field.value}}"
                    >
                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}

            
            {% for field in profile_form %}
                {% comment %} CREATE SELECT HTML ELEMENT {% endcomment %}
                {% if field.field.widget.input_type == 'select' %}
                    <div class="form-group mb-4">
                        <label for="{{ field.html_name }}">{{ field.label }}</label>
                        <select name="{{ field.html_name }}" id="{{ field.html_name }}" class="form-control">
                            {% for choice in field.field.choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                {% comment %} CREATE TEXT INPUT HTML ELEMENT {% endcomment %}
                {% elif field.field.widget.input_type != 'select' %}
                    <div class="form-group mb-4">
                        <label for="{{ field.html_name }}">{{ field.label }}</label>
                        <input 
                            type="{{ field.field.widget.input_type }}" 
                            name="{{ field.html_name }}" 
                            id="{{ field.html_name }}" 
                            class="form-control" 
                            max_length="{{ field.field.max_length }}"
                            min_length="{{ field.field.min_length }}"
                        >
                    </div>
                {% endif %}

                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary mt-2">Update</button>
        </div>
    </form>
    {{ debug }}
{% endblock content %}