{% extends "home/base.html" %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <form method="POST" class="loginform  p-3">
        <h2 class="logintitle">Log In</h2>
        {% comment %} csrf_token is some built in security {% endcomment %}
        {% csrf_token %} 
        <div class="logingroup" style="width: 100%">
        {% comment %} Loops over each field specified in forms.py and generates a bootstrapped form-group {% endcomment %}
            {% for field in form %}
                <div class="form-group mb-4">
                    <label class="username" for="{{ field.html_name }}">{{ field.label }}</label>
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.html_name }}" 
                        id="{{ field.html_name }}" 
                        class="form-control" 
                        max_length="{{ field.field.max_length }}"
                        min_length="{{ field.field.min_length }}"
                    >
                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-light mt-4"><span>Log in</span></button>
        </div>
    </form>



    <section class="footprint">

        <div id="ui">
            <div class="track track_1">
              <div class="foot left">
                <div class="foot_claw"></div>
                <div class="foot_claw"></div>
                <div class="foot_claw"></div>
              </div>
              <div class="foot right">
                <div class="foot_claw"></div>
                <div class="foot_claw"></div>
                <div class="foot_claw"></div>
              </div>
              <div class="track track_2">
                <div class="foot left">
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                </div>
                <div class="foot right">
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                </div>
                <div class="track track_3">
                  <div class="foot left">
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                  <div class="foot_claw"></div>
                </div>
                <div class="foot right">
                    <div class="foot_claw"></div>
                    <div class="foot_claw"></div>
                    <div class="foot_claw"></div>
                </div>
                <div class="track track_4">
                    <div class="foot left">
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                    </div>
                    <div class="foot right">
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                      <div class="foot_claw"></div>
                    </div>
                    <div class="track track_5">
                      <div class="foot left">
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                      </div>
                      <div class="foot right">
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                        <div class="foot_claw"></div>
                      </div>
                      <div class="track track_6">
                        <div class="foot left">
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                        </div>
                        <div class="foot right">
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                          <div class="foot_claw"></div>
                        </div>
                        <div class="track track_7">
                          <div class="foot left">
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                          </div>
                        <div class="foot right">
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                            <div class="foot_claw"></div>
                        </div>
                        <div class="track track_8">
                        <div class="foot left">
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                        </div>
                        <div class="foot right">
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                              <div class="foot_claw"></div>
                            </div>
                            <div class="track track_9">
                              <div class="foot left">
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                              </div>
                              <div class="foot right">
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                                <div class="foot_claw"></div>
                              </div>
                              <div class="track track_10">
                                <div class="foot left">
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                </div>
                                <div class="foot right">
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                  <div class="foot_claw"></div>
                                </div>
                                <div class="track track_11">
                                  <div class="foot left">
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                  </div>
                                  <div class="foot right">
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                    <div class="foot_claw"></div>
                                  </div>
                                  <div class="track track_12">
                                    <div class="foot left">
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                    </div>
                                    <div class="foot right">
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                      <div class="foot_claw"></div>
                                    </div>
                                    <div class="track track_13">
                                      <div class="foot left">
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                      </div>
                                      <div class="foot right">
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                        <div class="foot_claw"></div>
                                      </div>
                                      <div class="track track_14">
                                        <div class="foot left">
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                        </div>
                                        <div class="foot right">
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                          <div class="foot_claw"></div>
                                        </div>
                                        <div class="track track_15">
                                          <div class="foot left">
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                          </div>
                                          <div class="foot right">
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                            <div class="foot_claw"></div>
                                          </div>
                                          <div class="track track_16">
                                            <div class="foot left">
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                            </div>
                                            <div class="foot right">
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                              <div class="foot_claw"></div>
                                            </div>
                                            <div class="track track_17">
                                              <div class="foot left">
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                              </div>
                                              <div class="foot right">
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                                <div class="foot_claw"></div>
                                              </div>
                                              <div class="track track_18">
                                                <div class="foot left">
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                </div>
                                                <div class="foot right">
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                  <div class="foot_claw"></div>
                                                </div>
                                                <div class="track track_19">
                                                  <div class="foot left">
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                  </div>
                                                  <div class="foot right">
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                    <div class="foot_claw"></div>
                                                  </div>
                                                  <div class="track track_20">
                                                    <div class="foot left">
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                    </div>
                                                    <div class="foot right">
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                      <div class="foot_claw"></div>
                                                    </div>
                                                    <div class="track track_21">
                                                      <div class="foot left">
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                      </div>
                                                      <div class="foot right">
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                        <div class="foot_claw"></div>
                                                      </div>
                                                      <div class="track track_22">
                                                        <div class="foot left">
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                        </div>
                                                        <div class="foot right">
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                          <div class="foot_claw"></div>
                                                        </div>
                                                        <div class="track track_23">
                                                          <div class="foot left">
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                          </div>
                                                          <div class="foot right">
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                            <div class="foot_claw"></div>
                                                          </div>
                                                          <div class="track track_24">
                                                            <div class="foot left">
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                            </div>
                                                            <div class="foot right">
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                              <div class="foot_claw"></div>
                                                            </div>
                                                            <div class="track track_25">
                                                              <div class="foot left">
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                              </div>
                                                              <div class="foot right">
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                                <div class="foot_claw"></div>
                                                              </div>
                                                              <div class="track track_26">
                                                                <div class="foot left">
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                </div>
                                                                <div class="foot right">
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                  <div class="foot_claw"></div>
                                                                </div>
                                                                <div class="track track_27">
                                                                  <div class="foot left">
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                  </div>
                                                                  <div class="foot right">
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                    <div class="foot_claw"></div>
                                                                  </div>
                                                                  <div class="track track_28">
                                                                    <div class="foot left">
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                    </div>
                                                                    <div class="foot right">
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                      <div class="foot_claw"></div>
                                                                    </div>
                                                                    <div class="track track_29">
                                                                      <div class="foot left">
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                      </div>
                                                                      <div class="foot right">
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                        <div class="foot_claw"></div>
                                                                      </div>
                                                                      <div class="track track_30">
                                                                        <div class="foot left">
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                        </div>
                                                                        <div class="foot right">
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                          <div class="foot_claw"></div>
                                                                        </div>
                                                                        <div class="track track_31">
                                                                          <div class="foot left">
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                          </div>
                                                                          <div class="foot right">
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                            <div class="foot_claw"></div>
                                                                          </div>
                                                                          <div class="track track_32">
                                                                            <div class="foot left">
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                            </div>
                                                                            <div class="foot right">
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                              <div class="foot_claw"></div>
                                                                            </div>
                                                                            <div class="track track_33">
                                                                              <div class="foot left">
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                              </div>
                                                                              <div class="foot right">
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                                <div class="foot_claw"></div>
                                                                              </div>
                                                                              <div class="track track_34">
                                                                                <div class="foot left">
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                </div>
                                                                                <div class="foot right">
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                  <div class="foot_claw"></div>
                                                                                </div>
                                                                                <div class="track track_35">
                                                                                  <div class="foot left">
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                  </div>
                                                                                  <div class="foot right">
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                    <div class="foot_claw"></div>
                                                                                  </div>
                                                                                  <div class="track track_36">
                                                                                    <div class="foot left">
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                    </div>
                                                                                    <div class="foot right">
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                      <div class="foot_claw"></div>
                                                                                    </div>
                                                                                    <div class="track track_37">
                                                                                      <div class="foot left">
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                      </div>
                                                                                      <div class="foot right">
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                        <div class="foot_claw"></div>
                                                                                      </div>
                                                                                      <div class="track track_38">
                                                                                        <div class="foot left">
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                        </div>
                                                                                        <div class="foot right">
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                          <div class="foot_claw"></div>
                                                                                        </div>
                                                                                        <div class="track track_39">
                                                                                          <div class="foot left">
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                          </div>
                                                                                          <div class="foot right">
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                            <div class="foot_claw"></div>
                                                                                          </div>
                                                                                          <div class="track track_40">
                                                                                            <div class="foot left">
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                            </div>
                                                                                            <div class="foot right">
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                              <div class="foot_claw"></div>
                                                                                            </div>
                                                                                            <div class="track track_41">
                                                                                              <div class="foot left">
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                              </div>
                                                                                              <div class="foot right">
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                                <div class="foot_claw"></div>
                                                                                              </div>
                                                                                              <div class="track track_42">
                                                                                                <div class="foot left">
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                </div>
                                                                                                <div class="foot right">
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                  <div class="foot_claw"></div>
                                                                                                </div>
                                                                                                <div class="track track_43">
                                                                                                  <div class="foot left">
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                  </div>
                                                                                                  <div class="foot right">
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                    <div class="foot_claw"></div>
                                                                                                  </div>
                                                                                                  <div class="track track_44">
                                                                                                    <div class="foot left">
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                    </div>
                                                                                                    <div class="foot right">
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                      <div class="foot_claw"></div>
                                                                                                    </div>
                                                                                                    <div class="track track_45">
                                                                                                      <div class="foot left">
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                      </div>
                                                                                                      <div class="foot right">
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                        <div class="foot_claw"></div>
                                                                                                      </div>
                                                                                                      <div class="track track_46">
                                                                                                        <div class="foot left">
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                        </div>
                                                                                                        <div class="foot right">
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                          <div class="foot_claw"></div>
                                                                                                        </div>
                                                                                                        <div class="track track_47">
                                                                                                          <div class="foot left">
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                          </div>
                                                                                                          <div class="foot right">
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                            <div class="foot_claw"></div>
                                                                                                          </div>
                                                                                                          <div class="track track_48">
                                                                                                            <div class="foot left">
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                            </div>
                                                                                                            <div class="foot right">
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                              <div class="foot_claw"></div>
                                                                                                            </div>
                                                                                                            <div class="track track_49">
                                                                                                              <div class="foot left">
                                                                                                                <div class="foot_claw"></div>
                                                                                                                <div class="foot_claw"></div>
                                                                                                                <div class="foot_claw"></div>
                                                                                                              </div>
                                                                                                              <div class="foot right">
                                                                                                                <div class="foot_claw"></div>
                                                                                                                <div class="foot_claw"></div>
                                                                                                                <div class="foot_claw"></div>
                                                                                                              </div>
                                                                                                              <div class="track track_50">
                                                                                                                <div class="foot left">
                                                                                                                  <div class="foot_claw"></div>
                                                                                                                  <div class="foot_claw"></div>
                                                                                                                  <div class="foot_claw"></div>
                                                                                                                </div>
                                                                                                                <div class="foot right">
                                                                                                                  <div class="foot_claw"></div>
                                                                                                                  <div class="foot_claw"></div>
                                                                                                                  <div class="foot_claw"></div>
                                                                                                                </div>
                                                                                                                
                                                                                                              </div>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
        <script id="rendered-js">
        var
        timer = 10000,
        ui = document.getElementById('ui');
        
        setInterval(function () {
        ui.classList.toggle('switch');
        }, timer);
        </script>
    </section>
{% endblock content %}