{% extends "home/base.html" %}
{% block content %}
    <form method="POST">
        <h2>Log In</h2>
        {% comment %} csrf_token is some built in security {% endcomment %}
        {% csrf_token %} 
        <div>
        {% comment %} Loops over each field specified in forms.py and generates a bootstrapped form-group {% endcomment %}
            {% for field in form %}
                <div>
                    <label for="{{ field.html_name }}">{{ field.label }}</label>
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.html_name }}" 
                        id="{{ field.html_name }}" 
                        class="" 
                        max_length="{{ field.field.max_length }}"
                        min_length="{{ field.field.min_length }}"
                    >
                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div>
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Log in!</button>
        </div>
    </form>
{% endblock content %}