{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="text-white bg-dark p-4">
        <div class="profile mb-4">
            <h2 class="mb-1 profileh2">Welcome, <span>{{ user.first_name }} {{ user.last_name }}</span></h2>
            <p class="text-muted mb-0"><span>Username: </span>{{user}}</p>
            <p class="text-muted mb-0"><span>School: </span>{{user.userprofile.school}}</p>
            <p class="text-muted mb-0"><span>Email: </span>{{user.email}}</p>
            <p class="text-muted mb-0"><span>Access: </span>{{user.userprofile.access}}</p>
            <p class="text-muted mb-0"><span>Profile: </span><img src="{% static 'media/' %}{{user.userprofile.image}}" alt="{{ user.first_name }}'s profile photo"></p>
        </div>

        {% if user.userprofile.access == 'pending' %}
        <div class="alert alert-danger mb-4">
            Your account is pending approval from your teachers. Until then, you wont be able to post or view content from other students.
        </div>
        {% endif %}

        <h3>Manage Your Posts Here</h3>
        <a class="createpost" href="{% url 'post_new'%}">Create Post</a>
    </div>

    <style>
        .alert{
            font-size: 20px;
            margin-left: 10%;
            color: rgb(255, 255, 255);
        }
        .profile{
            margin-left: 10%;
        }
        .profileh2{
            font-size: 2.369em;
            font-family: Raleway Bold Italic;
            margin-bottom: 0.75em;
        }
        .profileh2 span{
            font-family: Raleway Bold Italic;
            font-size: 1.777em;
            font-weight: bold;
            color: #fafce1;
        }
        @media screen and (max-width: 800px) {
            .profileh2 span{
                 font-family: Raleway Bold Italic;
                 font-size: 1.333em;
                 font-weight: bold;
                 color: #fafce1;
            }
        }
        p{
            color: #fafce1;
        }

        p span{
            font-size: 1.15em;
            font-weight: bold;
            color: black;
        }
        img{
            margin: 0.75em 0;
        }

        h3{
            margin-left: 10%;
            margin-top: 1.333em;
            margin-bottom: 0.75em;
            color: #fafce1;
        }
        .createpost{
            border-radius: 10%;
            padding:0.75em;
            font-size: 1.333em;
            margin-left: 10%;
            border: 1px #fafce1 solid;
            background-color: #fafce1;
            text-decoration: none;
            color: rgb(27, 77, 49);
            font-family: Raleway Bold ;
        }
        footer{
            margin-top: 3.777em;
        }
    </style>





{% endblock content %}