{% extends "home/base.html" %}
{% load static %}
{% block content %}


    <div class="user-profile">
        <div class="profile">
            <div class="name">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="badge">{{user.userprofile.access}}</p>
            </div>

            <div class="information">
                <p><span class="info-label">Username:</span> {{user}}</p>
                <p><span class="info-label">School:</span> {{user.userprofile.school}}</p>
                <p><span class="info-label">Email:</span> {{user.email}}</p>
            </div>

            {% if user.userprofile.access == 'pending' %}
                <div>
                    <p>Your account is pending approval from your teachers. Until then, you wont be able to post or view content from other students.</p>
                </div>
            {% elif user.userprofile.access == 'admin' %}
                <div class="profile-buttons">
                    <a href="{% url 'edit_profile' %}" class="button">Edit Profile</a>
                    <a href="{% url 'administration' %}" class="button">Admin Dashboard</a>
                </div>
            {% else %}
                <div class="profile-buttons">
                    <a href="{% url 'edit_profile' %}" class="button">Edit Profile</a>
                    <a href="{% url 'post_new'%}" class="button">Create Post</a>
                </div>
            {% endif %}


        </div>

        {% comment %} <h3>Manage Your Posts Here</h3> {% endcomment %}
    </div>

   





{% endblock content %}