{% extends "home/base.html" %}
{% block content %}
<div class="background">
    <div class="page-styles">
        <form method="POST">
        <h2>Sign Up!</h2>
        <div class="border border-mobile">
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
            </div>

            <div class="border border-tablet">
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
                <div class="triangle-up"></div>
                <div class="triangle-down"></div>
            </div>
        {% comment %} csrf_token is some built in security {% endcomment %}
        {% csrf_token %} 
        <div>

        {% comment %} Loops over each field specified in forms.py and generates a bootstrapped form-group {% endcomment %}
            {% for field in form %}
                <div>
                    <label for="{{ field.html_name }}">{{ field.label }}</label>
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.html_name }}" 
                        id="{{ field.html_name }}" 
                        class="" 
                        max_length="{{ field.field.max_length }}"
                        min_length="{{ field.field.min_length }}"
                        value='{{field.value|default_if_none:""}}'
                    >
                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div>
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}

            
            {% for field in profile_form %}
                {% comment %} CREATE SELECT HTML ELEMENT {% endcomment %}
                {% if field.field.widget.input_type == 'select' %}
                    <div>
                        <label for="{{ field.html_name }}">{{ field.label }}</label>
                        <select name="{{ field.html_name }}" id="{{ field.html_name }}">
                            {% for choice in field.field.choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                {% comment %} CREATE TEXT INPUT HTML ELEMENT {% endcomment %}
                {% elif field.field.widget.input_type != 'select' %}
                    
                    <div>
                        <label for="{{ field.html_name }}">{{ field.label }}</label>
                        <input 
                            type="{{ field.field.widget.input_type }}" 
                            name="{{ field.html_name }}" 
                            id="{{ field.html_name }}" 
                            class="" 
                            max_length="{{ field.field.max_length }}"
                            min_length="{{ field.field.min_length }}"
                            value='{{ field.value|default_if_none:"" }}'
                        >
                    </div>
                {% endif %}

                {% comment %} If there are errors, loop through them and create a div containing the error message {% endcomment %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div>
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button type="submit" class="submit">Register</button>
        </div>
    </form>
    </div>
</div>
{% endblock content %}