.dashboard-main{

    .filter{

        .dashboard-form{

            .flex-form{
                @include breakpoint(tablet){
                    @include flex(unset);
                }
            }

            .filter-button{
                @include button;
                width: 100%;
                margin-bottom: 3rem;

                @include breakpoint(tablet){
                    margin-top: 4.8rem;
                    padding: 1.15rem;
                    margin-left: -0.5rem;
                    width: 40%;
                    margin-left: 2rem;
                }
                
            }

            .filter-button:hover{
                @include button-hover;
            }

        }

    }

}