.dashboard-main{

    .hidden{
        display: none;
    }

    .dashboard-form{
        @include padding(small);
        
        @include breakpoint(tablet){
        @include padding(medium);
            width: 76%;
            padding-top: 0;
        }

        @include breakpoint(laptop){
            @include padding(large);
            width: 80%;
        }

        .dashboard-form-group{
            position: relative;
            .tooltip{
                @include tooltip;
                
                p{
                    color: white;
                    font-size: 1.8rem;
                }

                p:nth-child(2n){
                    margin-bottom: 0;
                }
            }

            .required{
                color: rgb(208, 31, 31);
            }

            margin-bottom: 2rem;
            .dashboard-label{
                @include formLabels;
            }
    
            .dashboard-input{
                @include formInputs;
            }

        }

        .form-button{
            @include button;
            width: 100%;
            margin-top: 5rem;
            @include breakpoint(tablet){
                width: 50%;
            }
        }

        .form-button:hover{
            @include button-hover;
        }

    }

    .flex-container{
        @include breakpoint(tablet){
            @include flex(unset);
        }

        .side-image{
            display: none;
            @include breakpoint(tablet){
                background: rgba(128, 128, 128, 0.529);
                border: 1px solid grey;
                padding: 25rem 6rem;
                display: inline-block;
                margin-left: 1rem;
            }

        }
    }

}