.dashboard-main{

    .hidden{
        display: none;
    }

    .dashboard-form{
        @include padding(small);
        
        @include breakpoint(tablet){
        @include padding(medium);
            width: 76%;
            padding-top: 0;
        }

        @include breakpoint(laptop){
            @include padding(large);
            width: 78%;
        }

        @include breakpoint(desktop){
            @include padding(extraLarge);
            width: 100%;
        }

        .dashboard-form-group{
            position: relative;
            margin-bottom: 2rem;

            .tooltip{
                @include tooltip;
                
                p{
                    color: white;
                    font-size: 1.8rem;
                }

                p:nth-child(2n){
                    margin-bottom: 0;
                }
            }

            .required{
                color: $secondary;
            }

            .dashboard-label{
                @include formLabels;

                .color{
                    color: $primary;
                }
            }
    
            .dashboard-input{
                @include formInputs;
            }

            .dashboard-input select{
                padding: 0;
                border: 1px solid green;
            }

        }

        .form-button{
            @include button;
            width: 100%;
            margin-top: 5rem;
            @include breakpoint(tablet){
                width: 50%;
            }
        }

        .form-button:hover{
            @include button-hover;
        }

    }

    .flex-container{
        padding-top: 5rem;
        @include breakpoint(tablet){
            @include flex(unset);
        }

        .side-image {
            display: none;
            @include breakpoint(tablet){
                padding: 0 3rem;
                display: inline-block;
                margin-left: 1rem;
            }

            .picture {
                display: inline-block;
                border-left: 2px solid $secondary;
                border-right: 2px solid $secondary;
                padding: 1rem;
                margin-bottom: 4rem;
                
                .triangle-up{
                    width: 0;
                    height: 0;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-right: 40px solid $secondary;
                }
    
                .triangle-up{
                    width: 0;
                    height: 0;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 40px solid $secondary;
                }
    
            }

        }

        .create-form-image{
            @include breakpoint(tablet){
                padding: 30rem 8rem;
            }
        }
        
    }

}