    .dashboard-main{
        padding: 0;

        .width-container{
            @include breakpoint(tablet){
                @include innerContainer;
            }
        }

        .welcome{
            background: $dark;

            @include padding(small);
            padding-bottom: 4rem;

            @include breakpoint(tablet){
                @include padding(medium);
                padding-bottom: 4rem;
            }

            @include breakpoint(laptop){
                @include padding(large);
                padding-bottom: 4rem;
            }

            h2{
                color: $white;
                font-size: 4.2rem;
                line-height: 4.8rem;
                margin-bottom: 2rem;

                @include breakpoint(tablet){
                    font-size: 5.6rem; 
                     line-height: 7.2rem;
                }
            }

            p{
                font-size: 2.2rem;
                padding-bottom: 2rem;
                color: $white;
                margin: 0;
                font-family: 'Raleway Light', sans-serif;
            }

            .welcome-links{
                padding-bottom: 4rem;

                @include breakpoint (tablet){
                    @include flex(unset);
                    width: 10rem;
                    padding-right: 3rem;
                }

            }

        }//.welcome

        .home-welcome{
            height: 70rem;

            @include breakpoint(tablet){
                height: 100vh;
            }
            

            h3{
                color: $white;
                font-size: 2.6rem;
                line-height: 1.5;
                font-family: 'Raleway Light', sans-serif;

                .heading-small{
                    font-size: 2rem;
                    font-family: 'Raleway Bold', sans-serif;

                    @include breakpoint(tablet){
                        font-size: 2.6rem;

                    }
                }

               .heading-small-two{
                    @include breakpoint(tablet){
                        padding-left: 3rem;
                    }
               }

            }

            @include breakpoint(laptop){
                padding-top: 13rem;
            }

            a{
                @include button;
                margin-bottom: 2rem;
                background: $primary;
                border: 1px solid $white;
                @include flex(unset);
                justify-content: center;

                @include breakpoint(tablet){
                    padding: 1rem 10rem;
                    margin-right: 3rem;
                }

                .badge{
                    @include accordian-badge;
                    background: $white;
                    color: $dark;
                    border: 1px solid $dark;

                }

            }

            a:hover{
                background: $white;
                color: $dark;
            }

            .border {
                @include flex(unset);
                border-bottom: 2px solid $triangle-color;
                border-top: 2px solid $triangle-color;
                padding: 0.7rem 0 0.7rem 1rem;
                width: 66rem;
                margin-bottom: 4rem;

                .triangle-up{
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 20px solid $triangle-color;
                }

                .triangle-down{
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 20px solid $triangle-color;
                }

            }

                
        }



    }//.dashboard-main
