.dashboard-main{

    .overview{
        border-top: 2px solid $dark;
        background: $users-overview-bgd;

        h3{
            color: $white;
            margin-bottom: 0;
            @include padding(small);

            @include breakpoint(tablet){
                @include padding(medium);
            }

            @include breakpoint(laptop){
                @include padding(large);
            }
        }
        
        .overview-box{

            padding: 2rem 1rem 4rem 1rem;

            @include breakpoint(tablet){
                padding: 2rem 3rem 8rem 3rem;
                @include flex(unset);
            }

            @include breakpoint(laptop){
                padding: 2rem 6rem 8rem 30rem;
            }

            p{
                font-size: $overview-labels;
                margin-bottom: 1rem;

                .number{
                    font-weight: bold;
                }
            }

            div p{
                color: $text-color;
            }


            a{
                @include button;
                margin-top: 3rem;
                //margin-bottom: 3rem;

                @include breakpoint(tablet){
                    margin: 0;
                    width: 30rem;
                    margin-left: 4rem;
                }
            }

            a:hover{
                @include button-hover;
            }
        }

        

    }

}