.dashboard-main{

    .container{
        position: relative;
    }
    

    .overview{
        border: 1px solid rgb(174, 174, 174);
        background: $users-overview-bgd;

        margin: 1rem;
        border-radius: 2rem;

        @include breakpoint(tablet){
            // @include padding(medium);
            //padding-bottom: 4rem;
            margin: 3rem;
            margin-top: 6rem;
        }

        @include breakpoint(laptop){
            // padding: 4rem 6rem 0 4rem;
            //padding-bottom: 4rem;
            margin-left: 30rem;
        }

        h3{
            @include padding(small);
            padding-bottom: 0;

            @include breakpoint(tablet){
                @include padding(medium);
            }



            
        }
        
        .overview-box{
            

            p{
                font-size: $overview-labels;
                margin-bottom: 1rem;
                // text-align: center;

                @include padding(small);
                padding-bottom: 0;
                padding-top: 0;

                @include breakpoint(tablet){
                @include padding(medium);
                padding-bottom: 0;
                padding-top: 0;
            }
                

                .number{
                    font-weight: bold;
                }
            }

            div p{
                color: $text-color;
            }


            a{
                @include button;
                text-align: center;
                // margin: 0 auto;
                margin-top: 4rem;
                margin-bottom: 0;

                @include breakpoint(tablet){
                    width: 50rem;
                    margin-top: 4rem;
                    
                }
            }

            a:hover{
                @include button-hover;
            }
        }

    }

    .overview-background{
        content: "";
        background: $primary;
        height: 24rem;
        width: 100vw;
        position: absolute;
        top: -8rem;
        left: -1rem;
        z-index: -1;
    }

    .overview-background-second{
        content: "";
        background: $primary;
        height: 23rem;
        width: 100vw;
        position: absolute;
        top: 80rem;

        @include breakpoint(tablet){
            top: 85rem;
        }

        @include breakpoint(laptop){
            top: 83rem;
        }
        


        left: -1rem;
        z-index: -1;
    }

}