    .dashboard-main{
        @include breakpoint(maxTablet){
            padding-top: 8rem;
        }

        padding: 0;

        .border {
            display: inline-block;
            @include flex(unset);
            border-bottom: 2px solid $triangle-color;
            border-top: 2px solid $triangle-color;
            padding: 0.7rem 0 0.7rem 1rem;
            width: 30rem;
            margin-bottom: 4rem;
            
            .triangle-up{
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid $triangle-color;
            }

            .triangle-down{
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 20px solid $triangle-color;
            }

        }

        .width-container{
            @include breakpoint(tablet){
                @include innerContainer;
            }
        }

        .welcome{
            background: $primary;

            @include padding(small);
            padding-bottom: 2rem;

            @include breakpoint(tablet){
                @include padding(medium);
                padding-bottom: 4rem;
            }

            @include breakpoint(laptop){
                @include padding(large);
                padding-bottom: 4rem;
            }

            @include breakpoint(desktop){
                @include padding(extraLarge);
                padding-bottom: 4rem;
            }

            h2{
                text-align: left;
                text-transform: unset;
                color: $white;
                font-size: 4.4rem;
                line-height: 5.6rem;
                margin-bottom: 2rem;

                @include breakpoint(tablet){
                    font-size: 6.4rem; 
                    line-height: 7.2rem;
                }
            }

            p{
                font-size: 2.2rem;
                padding-bottom: 2rem;
                color: $white;
                margin: 0;
                font-family: 'Raleway Light', sans-serif;
            }

            .welcome-links{
                padding-bottom: 4rem;

                @include breakpoint (tablet){
                    @include flex(unset);
                    padding-right: 3rem;
                }

            }

        }//.welcome

        .home-welcome{
            // height: 70rem;

            @include breakpoint(tablet){
                // height: 100vh;
            }
            

            h3{
                color: $white;
                font-size: 2.6rem;
                line-height: 1.5;
                font-family: 'Raleway Light', sans-serif;

                .heading-small{
                    font-size: 2rem;
                    font-family: 'Raleway Bold', sans-serif;

                    @include breakpoint(tablet){
                        font-size: 2.6rem;

                    }
                }

               .heading-small-two{
                    @include breakpoint(tablet){
                        padding-left: 3rem;
                    }
               }

            }

            @include breakpoint(laptop){
                padding-top: 13rem;
            }

            a{
                @include button;
                margin-bottom: 2rem;
                
                @include flex(unset);
                justify-content: center;

                @include breakpoint(tablet){
                    padding: 1rem 10rem;
                    margin-right: 3rem;
                }

                .badge{
                    @include accordion-badge;
                    background: $third;
                    margin-right: 1rem;

                }

            }

            a:hover{
                // background: $white;
                // color: $primary;
                @include button-hover;
            }

                
        }



    }//.dashboard-main
