h2{
  text-align: center;
  text-transform: uppercase;
  color: $dark-blue;
}


.education{
  h2{
    margin-bottom: 40px;
  }
  .cards{

    @include media-md{
      display: flex;
      justify-content: space-between;
    }
 
    & div{
      padding: 14px;
      border-radius: 10px;
      border: 2px solid $light-purple;
      margin-bottom: 40px;

      @include media-md{
        margin-right: 20px;
        width: 50%;
      }
    }

    div:nth-child(2){
      margin-right: 0;
    }

    p{
      margin-bottom: 20px;
    }

    a{
      text-decoration: none;
      color: white;
      background-color: $red-colour;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 6px;
      display: table;
      margin: 0 auto;

      &:hover{
        background-color: $light-purple;
        transition: 0.5s;
      }
    }
  }
}
