{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    {% comment %} Medicine Wheel {% endcomment %}
    <h1 class="storiesh1">Medicine Wheel</h1>
    <section class="medicinewheel">
        <div class="con">
            <div class="con_top">
                <a href="{% url 'post_list' %}?school=Amiskwaciy-Academy&category=Spiritual">
                    <div class="textwhite">
                        Spiritual
                    </div>
                </a>
                <a href="{% url 'post_list' %}?school=Amiskwaciy-Academy&category=Physical">
                    <div class="textyellow">
                        Physical
                    </div>
                </a>
            </div>
            <div class="con_bot">
                <a href="{% url 'post_list' %}?school=Amiskwaciy-Academy&category=Emotional">
                    <div class="textred">
                        Emotional
                    </div>
                </a>
                <a href="{% url 'post_list' %}?school=Amiskwaciy-Academy&category=Mental">
                    <div class="textblack">
                        Mental
                    </div>
                </a>
            </div>
        </div>
    </section>

    <div class="medicinewheeldesc">
        <p>Medicine Wheels are used in Indigenous cultures to represent the four directions, the seasons, the life stages and the pieces required to life a whole life; the emotional, mental, physical and spiritual components. Click a category to see more content.</p>
    </div>
<style>
    /* .con_top>a:nth-child(1):hover {
	background: rgb(194, 194, 194);
	transform: scale(1.05);
	z-index: 9;
	transform-origin: 100% 100%;
	box-shadow: 0px 0 10px 0px #000;
}
.con_bot>a:nth-child(1):hover .textred{
	font-size: 25px;
	font-family: 'Berkshire Swash', cursive;
    margin-left: 20px;
    
} */
.medicinewheeldesc p{
    width: 60%;
    margin-left: 20%;
}
.storiesh1{
    margin-top: 20px;
    color: #000;
    text-align: center;
}
@media only screen and (max-width:500px){
    .con_bot>a:nth-child(1):hover .textred{
	font-size: 20px;
	font-family: 'Berkshire Swash', cursive;
    padding-left: 30px;
    
}

}
</style>
    

    <h1>Post List</h1>
    {% for post in posts %}
    <div>
        {% if post.image %}
        <img src="{% static 'media/' %}{{ post.image }}" alt="">
        {% endif %}
        <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }} - <span>{{ post.author }}</span></a></h2>
        
    </div> 
{% endfor %}



{% endblock content %}