{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="category-posts">
    <h2>Stories</h2>

    <div class="all-posts" id="grid">
        {% for post in posts %}
    
        <div class="post grid-item">
            <div class="post-header">
                <h3>{{ post.title }}</h3>
                <p>Created by: <span>{{ post.author }}</span></p>
            </div>
            {% if post.image %}
            <img src="{% static 'media/' %}{{ post.image }}" alt="{{ post.title }} image">
            {% endif %}
            <a href="{% url 'post_detail' post.slug %}" class="button">View Post</a>
        </div>
        {% endfor %}
    </div>

    </section>

</div>

{% endblock content %}