{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="post-detail">
    <h2>{{post.title}}</h2>
    <p class="author">Created By: {{post.author}}</p>
    <div class="content">
        {% if post.image %}
        <img src="{% static 'media/' %}{{ post.image }}" alt="">
        {% endif %}
        {{post.content | safe}}
    </div>
     {% if post.video %}
     <div class="video">
        <iframe src="https://www.youtube.com/embed/{{ post.video }}" frameborder="0"></iframe>
     </div>
    {% endif %}
    
</div>

{% endblock content %}