<!-- 'administration/base.html' -->
{% extends 'home/base.html' %}

{% block content %}
<div class="background">
    <div class="page-styles create-post-styles">
        <h2>Create a new post</h2>
            <div class="border border-mobile">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                </div>

                <div class="border border-tablet">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                </div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="submit">Create New Post</button>
        </form>
    </div>
    <script src="/static/js/slugify.js"></script>
</div>
{% endblock %}