{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<main class="postlistpage">
    <h1 class="post-listh1">Post List</h1>
    {% for post in posts %}
    <section class="postlist ">
        <div class="postcard">
            {% if post.image %}
            <img class="postimg" src="{% static 'media/' %}{{ post.image }}" alt="">
            {% endif %}
            <h2 class="posth2"><a class="posta" href="{% url 'post_detail' post.slug %}">{{ post.title }} - <span>{{ post.author }}</span></a></h2>
            
        </div> 

    </section>

    
{% endfor %}
    </main>


{% endblock content %}